[2021-08-07 00:43] noahfalk commented on #2368
dotnet-counters work has been merged, but docs still remain here: https://github.com/dotnet/docs/pull/25312

[2021-08-09 17:19] #2486 closed

[2021-08-12 17:41] mikem8361 commented on #2451
Is there any way you could fix this?

[2021-08-12 19:07] cshung commented on #2451
In order to fix this bug, we need to

1. Get the DAC to expose the data so that we can properly walk the heap under `USE_REGIONS `. https://github.com/dotnet/runtime/pull/56796 should fix it.

2. Get CLRMD to use the data to perform the walk.
I haven't look too closely into CLRMD implementation, but I assume it shouldn't be rocket science.

3. Get a new version of CLRMD published, and

4. Get this

[2021-08-12 19:44] mikem8361 commented on #2451
Other than your current runtime PR (which hopefully can get merged before Tuesday) all of this sounds like out of band work in clrmd/diagnostics.  I was hoping you could eventually do this work when you have time because the diagnostic team is a little overbooked and under staffed.  If you can do this work (Lee can probably help with the clrmd work), please assign this issue to yourself.

[2021-08-15 17:29] #1452 closed

[2021-08-15 18:17] #73 closed

[2021-08-17 09:54] dmex opened #2509 "clrstack command missing line information"
Hello,

Line information for stack frames is missing for some modules when running the !clrstack command via Windbg. For example frame 7 in this stack is missing line information:

![image](https://user-images.githubusercontent.com/1306177/129701432-a9b57027-cc59-476d-b97e-cf2b3edbe0dc.png)

The problem is caused by passing the wrong CLR method token... The clrstack command dumps the line informat

[2021-08-17 23:18] mikem8361 opened #2512 "SOS Watson support work items"
Here is a list of possible work and testing that needs to take place before Watson can take a new version of SOS:

- [ ] Support Watson .sympath's which contain alternate symbol providers dlls like `symsrv*symsrv.dll*d:\data\SYM\symcache*\\aw0eus0symcache.file.core.windows.net\Symbols*http://localhost/remote200/30e07e1454924e55901d7f693f7eddf1/0/x64/4542784547/remote`.
- [ ] - [ ] Test the Microso

[2021-08-17 23:21] thargy commented on #1767
I'm surprised this isn't being considered a higher priority as it can cause crashes.

[2021-08-17 23:22] thargy commented on #1769
I'm surprised this isn't being considered a higher priority as it does cause crashes.

[2021-08-18 17:42] mikem8361 commented on #2512
The !analyze SOS calls: https://microsoft.visualstudio.com/OS/_git/os.2020?version=GBofficial%2Foc_es_debug&path=%2Fsdktools%2Fdebuggers%2Fexts%2Fbadev%2FCLRMA%2Fclrmasos%2FSOSHelper.cpp

[2021-08-18 17:55] mikem8361 commented on #2375
This should be fixed now with the latest SOS from main (I don't think the latest released SOS has the above PR) and the latest 6.0 runtime.

[2021-08-18 17:59] mikem8361 commented on #2512
Another example of a sympath that needs to be supported or partially supported: “d:\data\sym\symcache*\\aw0mwh0symcache.file.core.windows.net\symbols*http://localhost/remote200/beb799207d6f47cda222e281c9e5ea7a/0/x64/4357289324/remote”.

[2021-08-18 19:00] mikem8361 opened #2515 "Fix SOS single file support"
There are various single file issues that need to be fixed in SOS/dotnet-dump:

- [ ] dotnet-dump doesn't work on Linux system generated single file core dumps (createdump doesn't work for single file yet). The problem is that the ELF reader in clrmd used by dotnet-dump returns the wrong base address for the single file module.  See below for more details.
- [ ] Windows single-file dumps (generate

[2021-08-18 19:08] mikem8361 commented on #2515
Some details on the clrmd ELF reader single file base address issue:

[code]

Single file dumps under lldb and windbg (cross-DAC) do work because they both use the DSO chain to enumerate the native modules.

[2021-08-20 13:10] mihaimyh opened #2518 "dotnet-dump collect doesn't writes output"
Hi,

I am having a .NET6 self-contained worker service running on a linux server for which I am trying to use dotnet-dump to investigate the memory usage. ​

The .NET runtime is not installed on that server, I 've downloaded the latest .NET6 sdk ( preview 7) and running the tool like this:

[code]
The output directory is empty.

[2021-08-20 15:15] kkokosa commented on #603
I see exact the same problems when using `gcdump` on .NET 5 application. The heap is pretty big (counters view):

[code]

When doing a `gcdump` the number of objects is capped to 10,000,000. Here's the log while opening ~165MB `initial2.gcdump` file in PerfView:

[code]

As we see, because number of objects is limited, it represents only 679MB (instead of expected ~15GB) :( It may be confirmed by

[2021-08-20 16:46] mikem8361 commented on #2518
The -o option is the full file path/name of the where you want the dump to be written not a directory.  There looks like it there is an issue where should it fail and print a better error message, but if you pass a full file name/path, it will generate your dump.

[2021-08-20 19:51] mihaimyh commented on #2518
It doesn't make much of a difference:

[code]

[2021-08-20 22:06] mikem8361 commented on #2518
There is a chance that the file was written but since your app runs as a service it may be access from the current user even though it looks like you are running as "root".  Can you try `ls -l /root` (just the directory)?

Another thing to try is to enable logging with the dotnet-dump collect option `-d`.  The problem is that the logging is written to the stdout of your service not dotnet-dump so

[2021-08-23 21:11] davmason commented on #1794
This is tracking out of band work, moving to future to get it off 6.0 radar

[2021-08-24 18:30] bluetentacle commented on #2102
We too have long been troubled by this issue. dotnet-dump is effectively useless to us as a production troubleshooting tool, because we cannot run services as root in production.

[2021-08-29 12:25] AminSojoudi commented on #1342
I'm using dotnet core 3.1 inside docker. still can not get a dump with error:
`Writing dump failed (HRESULT: 0x80004005)`
here is my docker-compose file:
[code]

[2021-08-30 03:11] WeihanLi opened #2536 "Abnormal dotnet-counters output UI with alpine container"
### Description

![image](https://user-images.githubusercontent.com/7604648/131277140-86a7b8ff-61db-47a5-b08f-47304fa3882c.png)

### Configuration

- dotnet-counters (5.0.236902+5366510b270d0f0ebffc9e36e9496688b20b96c2)
- Alpine docker container

`dotnet --info` output:

![image](https://user-images.githubusercontent.com/7604648/131279788-b5bebde4-6faa-4a20-9b52-7ffc921663a9.png)

[2021-08-30 04:22] tommcdon commented on #2536
@mikelle-rogers @josalem

[2021-08-30 17:56] josalem commented on #2536
Based on the output, it looks like the console line rewriting failed, so it continuously printed on the same line.

What shell and terminal/console were you using?

Do you have a specific base container you were using or was it just a generic Alpine image?

@mikelle-rogers can you see if you can repro this behavior?

[2021-08-30 19:39] jander-msft opened #2541 "TestLogsAllCategoriesDefaultLevelFallback fails frequently"
https://runfo.azurewebsites.net/search/tests/?q=started%3A~7%20definition%3Adiagnostics-public-ci%20name%3A%22testlogsallcategoriesdefaultlevelfallback%22

[2021-08-30 22:43] mikem8361 opened #2542 "SOS testing: enable testing Windows+ triage dumps for 6.0 apps"
The SOS test runner turns Triage dumps on Windows to Heaps dumps because the DAC isn't being loaded because of the signing issue.

[2021-08-31 01:58] WeihanLi commented on #2536
Just a generic docker alpine image, I use the docker image with tag `mcr.microsoft.com/dotnet/core/aspnet:3.1-alpine`, used with the original shell with `sh` command

[2021-08-31 04:11] jander-msft commented on #2541
This test seems to only fail on Windows builds.

[2021-08-31 04:35] jander-msft commented on #2541
Similarly, the TestLogsUseAppFiltersAndFilterSpecs test fails frequently on Windows: https://runfo.azurewebsites.net/search/tests/?q=started%3A%7E7+definition%3Adiagnostics-public-ci+name%3A%22TestLogsUseAppFiltersAndFilterSpecs%22

[2021-08-31 05:18] #2151 closed

[2021-08-31 16:30] josalem commented on #2536
Was this the console on Windows, Linux, or Mac? And specifically, was it a special console like iTerm2 on macOS or the new Windows Terminal on Windows?

[2021-08-31 23:31] WeihanLi commented on #2536
I used ubuntu terminal on wsl2 and powershell 7 both on windows terminal.
And also on our rancher temp container terminal(not sure what it is)

[2021-09-01 00:26] mikelle-rogers commented on #2536
I tried to repro this behavior on a Windows computer, using an ubuntu terminal on wsl2, but line rewriting worked great. What version of ubuntu were you using?

[2021-09-01 01:39] WeihanLi commented on #2536
I'm using Ubuntu 20.04
![image](https://user-images.githubusercontent.com/7604648/131597711-7b2840a5-44b4-486b-8174-f3086fce0f4b.png)

[2021-09-01 13:38] MichaelSimons commented on #1640
Are there any plans to address this for 6.0?  dotnet/diagnostics is now failing to build in .NET source-build because of this issue.  .NET source-build must build with the .NET 6.0 toolset.

/repos/installer/artifacts/tarball/src/diagnostics.6f48c2ae749c29b687af0353e6c2a9590d7e3d22/artifacts/source-build/self/package-cache/system.runtime.compilerservices.unsafe/6.0.0-preview.7.21356.2/buildTransit

[2021-09-01 17:02] o-lek opened #2552 "dotnet-stack.dll fails if executed by corerun"
I've got a problem running dotnet-stack.dll by corerun:

I've build diagnostics from sources (branch main) and installed dotnet sdk 6.0.100-preview.7.21379.14

Unhandled exception: System.Reflection.TargetInvocationException: Exception has been thrown by the target of an invocation.
 ---> System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.Diagnostics.Tracing.TraceEvent, Ve

[2021-09-01 17:10] hoyosjs commented on #1640
@MichaelSimons We will probably be doing this after runtime work is done. We build this already with a .NET 6 SDK (targeting, currently, 2.1). Is this a custom target for sourcebuild?

[2021-09-01 17:30] josalem commented on #2536
Out of curiosity, is the container running locally on your machine or are you connecting to a container on a remote machine?

[2021-09-01 19:59] danmoseley commented on #2478
I would certainly use an exception trigger, and perhaps others supported by procdump. Anecdotally, they are often used in investigations.

[2021-09-01 21:24] MichaelSimons commented on #1640
No, Diagnostics is not building with a new enough SDK that includes the [change to the EolTargetFrameworks.targets](https://github.com/dotnet/sdk/commit/9f3624952298f3d98a66cf5b6bc1b67a278eabf1#diff-dc4da9f73b06828b9533b13b5cc19ea438af81fe0a79cfc822e6c4ae0a5e047e) that causes the failure.

[2021-09-02 14:51] tommcdon commented on #2552
@josalem

[2021-09-02 14:59] tommcdon commented on #2541
@josalem

[2021-09-02 16:40] mikelle-rogers commented on #2536
Does running dotnet-trace, in the same environment as dotnet-counters was running in, exhibit similar behavior?

[2021-09-02 17:09] josalem commented on #2552
As @jkotas said, `corerun` is a testing only, lightweight host. You should be able to run `dotnet-stack` using `corerun`, but you may need to build `dotnet-stack` differently or copy binaries around to make sure `corerun` can find them. My typical workflow for running an application using `corerun` is to do a self-contained build of the application and then copy in the entirety of my private produ

[2021-09-02 17:21] josalem commented on #2541
Based on a cursory look at the test failures and code, it looks like this might be a timing issue with the pipeline tests. The failures are all "read past end of stream" (the client exits while we tried to read) or "operation cancelled" (we took too long to read and hit the timeout).

Both failures imply something wrong with the tracee process. The current test structure doesn't capture the sub-pr

[2021-09-02 17:35] jander-msft commented on #2541
These have never reproduced locally for me.

In general, the tracee processes for many of these types of tests in the diagnostics are uncontrolled which exposes them to timing issues. I think it would be good to rewrite the tracee processes to have a better control flow in order to eliminate stability issues that might be causing these problems. In dotnet-monitor, we have a single test process wit

[2021-09-03 06:29] o-lek commented on #2552
@josalem , thank you for you answer. After I copied 2 libraries manually as @jkotas  said, it works fine. Anyway, the reason I was doing this experiment is that I've got a similar problem on my ARM target: when I run dotnet dump on the target I usually get an exception:
System.IO.FileLoadException: Could not load file or assembly 'System.Runtime.CompilerServices.Unsafe, Version=6.0.0.0, Culture=ne

[2021-09-03 11:01] filipnavara opened #2554 "Binaries are not signed and fail to run on macOS Monterey with .NET 6 ARM64 runtime"
### Description

1. Install any global tool:
[code]
2. Run the tool:
[code]
3. Verify that the tool is signed:
[code]
4. Sign the tool and retry:
[code]

### Configuration

macOS Monterey, only .NET 6 ARM64 SDK installed

[2021-09-03 11:02] filipnavara commented on #2554
Related: https://github.com/dotnet/runtime/issues/52335, https://github.com/dotnet/sdk/issues/19240

[2021-09-03 21:16] josalem commented on #2552
@hoyosjs any thoughts on what might be going on here? It seems weird that 1. the tool included a copy of something from the framework and 2. that it tried to load 6.0 version rather than the version next to the tool. This smells like something might be broken when we attempt to roll forward to .net6 while building against 2.1.

[2021-09-03 21:18] jkotas commented on #2552
`corerun` does not have the nuget-version aware roll-forward logic. It is why it is does not with `corerun`.

`dotnet` host has it and it is why it works fine with `dotnet`.

[2021-09-03 21:18] jkotas commented on #2552
I think this should be resolve as "by design".

[2021-09-03 21:30] josalem commented on #2552
Ah right, I forgot about the "ran with `corerun`" aspect in my most recent reply and assumed it was being run in both cases with `dotnet`. I agree with your assessment @jkotas.

[2021-09-03 21:30] #2552 closed

[2021-09-07 14:55] lazorfuzz opened #2563 "Add support for reporting with pprof's profile.proto format in CLI tools"
## Background and Motivation

Pprof's profile.proto format is a generic format for profiling output. Adding support for this format would allow us to use existing tools to generate flamegraph visualizations. More info: https://github.com/google/pprof/tree/master/proto

## Proposed Feature

Add the option to format format in gzipped profile.proto format in tools like dotnet-gcdump, dotnet-stack, et

[2021-09-07 22:34] mikem8361 commented on #1640
The first step is done now of changing the global tools build to netcoreapp3.1 in PR #2561

[2021-09-07 22:59] mikem8361 commented on #2541
Not sure if related to this failure but TestLogsWildcardCategory is failing all the time now. We need to fix or disable this test right away.

[code]

[2021-09-07 23:05] mikelle-rogers commented on #2212
We have been working on Input/Output redirection in various situations. I tried to reproduce this exception in VS 2019 on Windows 10, but was not able to. As a result, I am going to preemptively close this issue, but if it still is not working, feel free to open it back up and give some more details.

[2021-09-07 23:05] #2212 closed

[2021-09-08 10:25] daleksandrov-qontigo commented on #1342
If you have self-contained app check the permissions on `createdump` tool in your artefacts. Seems like `dotnet-dump` uses `createdump`. If there is no `executable` flag for `createdump` then you will get `Writing dump failed (HRESULT: 0x80004005)`

[2021-09-08 17:06] mikem8361 opened #2568 "Reenable EventLogsPipeUnitTests and EventCounterTriggerTests"
EventLogsPipeUnitTests.TestLogsWildcardCategory and EventCounterTriggerTests.EventCounterTriggerWithEventPipePipelineTest have been disable because they are constantly failing.

[2021-09-08 17:12] mikem8361 commented on #2568
[code]

[2021-09-08 20:32] mikem8361 commented on #2541
Disabled EventLogsPipelineUnitTests.TestLogsAllCategoriesAllLevels for Windows in PR #2569

[2021-09-08 20:32] mikem8361 commented on #2568
Reenable EventLogsPipelineUnitTests.TestLogsAllCategoriesAllLevels for Windows also.

[2021-09-08 20:52] #2426 closed

[2021-09-08 21:20] mikem8361 commented on #2568
Disabled in PR: https://github.com/dotnet/diagnostics/pull/2569

[2021-09-10 14:33] confusity opened #2576 "Unloading and reloading SOS under the Windows debuggers has problems"
If the managed code in SOS has already been loaded (coreclr.dll has been loaded) and SOS is unloaded under windbg/cdb then if sos is reloaded, the commands that use the SOS managed code will fail (like clrstack getting line number info).

If no commands have been run that load managed code (clrstack, setsymbolserver, k, etc.), then unload/reload will work.

Either we switch to the new .NET Core ho

[2021-09-10 16:16] vsfeedback opened #2577 "dotnet core dump on linux cant show method name"
_This issue has been moved from [a ticket on Developer Community](https://developercommunity.visualstudio.com/t/dotnet-core-dump-on-linux-cant-show-meth/1441862)._

---
I use dotnet 3.1, and publish it to linux, which import a so and call some native functions, it cant show the method name when core, how can i solve this problem?
when i use the lldb, also no method name and class name.
! [企业微信截图_2

[2021-09-10 16:23] tommcdon commented on #2577
@mikem8361

[2021-09-10 16:42] mikem8361 commented on #2577
It looks like SOS needs to know where it can load the app assembly metadata for QSGameCore.dll. Use the command `setsymbolserver -directory <directory-containing-app-dlls>` to do that.

[2021-09-10 16:45] mikem8361 commented on #2576
Duplicate of https://github.com/dotnet/diagnostics/issues/386

[2021-09-10 16:45] #386 closed

[2021-09-11 22:35] mikem8361 commented on #2357
Can you try a more recent .NET 6 preview like our RC1 which is coming out soon? I just tried an arm32 dump created with a recent runtime with an x86 version of windbg and everything works.  If you have x86 version of the sdk installed (3.1 or 5.0) installed in the standard place (C:\Program Files (x86)\dotnet) then you shouldn't have to mess with the !sethostruntime command.

[2021-09-14 00:06] #2329 closed

[2021-09-14 23:56] jander-msft commented on #2541
Wanted to capture some of the failing builds before they disappear:
[code]

| Test Run | Test Name | Message |
|---|---|---|
| Tests Windows x64 Release | TestLogsAllCategoriesDefaultLevelFallback | Assert.Equal() Failure\r\n ↓ (pos 0)\r\nExpected: Some warning message with 6\r\nActual: Warning message.\r\n ↑ (pos 0) |

[code]

| Test Run | Test Name | Message |
|---|---|---|
| Tests Windows x86 R

[2021-09-15 14:23] AArnott opened #2590 "[Request] Need a crossdac and CLRMD reader to analyze macOS dumps on Windows"
I can't analyze a macOS dump taken with `dotnet dump`. I am using a Windows machine.

.NET runtime: 5.0.10
[Dump file](https://1drv.ms/u/s!Aj3kll8mDD0GgajcF4aU3M2ty2Xbk04?e=PJrCZv)

[code]

This dump only shows native callstacks (without symbols) in windbg, and sos doesn't work there either. VS can't open the dump at all.

I also note that the mac dump is *huge*. The equivalent hang dump on linux

[2021-09-15 15:00] tommcdon commented on #2590
Thanks for reporting this issue. Analyzing dumps on Windows collected on macOS is not supported.  I have changed this issue to a documentation bug to track updating https://docs.microsoft.com/dotnet/core/diagnostics/dotnet-dump accordingly. `Dotnet-Dump analyze` should work for dumps collected on the same macOS machine.  Dumps collected on Windows, macOS, and Linux can be analyzed on the same mach

[2021-09-15 16:41] mikem8361 commented on #2590
There are two major pieces of work to implement this E2E:
1) dotnet-dump work: add a MachO core dump reader to clrmd (Lee Culver is working on that). This will also allow dotnet-dump to work on MacOS for MachO core dumps generated in 6.0.
2) runtime work: a cross-OS DAC for MacOS (something we may consider for 7.0).

[2021-09-15 17:05] kRaBby opened #2591 "Managed memory dump with API"
The general question is: how can I create a managed memory dump with Microsoft.Diagnostics.NETCore.Client API? Ideally which can be opened with PerfView?
Can I create *.gcdump like in dotnet-gcdump tool?
Or maybe *.dmp like in dotnet-dump tool.
If yes then how can I do that?

[2021-09-15 19:00] AArnott commented on #2590
@tommcdon In addition to updating the doc you linked to, can you please also update the faq that the error message links to?

[2021-09-15 19:24] tommcdon commented on #2590
@AArnott good idea on updating the FAQ.  We will do that work as part of updating the dotnet-dump docs.

[2021-09-16 17:31] janvorli opened #2596 "Bug in the AddFilesFromDirectoryToTpaList"
When testing a self-compiled debug version of the SOS plugin on Linux, I have bumped into a bug in the AddFilesFromDirectoryToTpaList function. There is a `size_t extPos` local and right after its creation, it is checked if it is > 0. In my specific case, the value was 0xffffffffffffffff, because the filename was smaller than the extLen. Then it crashed somewhere in a std::string method.

So eithe

[2021-09-16 21:58] mikem8361 commented on #2509
Can you send me a core dump/test app/test app pdb to investigate this bug?  GetLineByOffset is called in a lot of places in SOS so it would be better to fix it without passing in the method token, but get the right method token internal for the IP passed.

[2021-09-17 02:21] WeihanLi commented on #2536
@mikelle-rogers sorry for my late response, no, `dotnet-trace collect` works as expected, and `dotnet-counters collect` also works,
`dotnet-counters monitor` is the only thing I meet that does not work.
And besides, I reproduce it on my Windows 10 with PowerShell Core 7.1.4 and Powershell 5.

[2021-09-17 17:33] mikem8361 commented on #2509
I looked into GetLineByOffset a little more and are you saying that the IXCLRDataMethodInstance returned in the GetClrMethodInstance call in GetLineByOffset returns a different method token that the one requested in MethodNameFromIP?

[2021-09-17 17:56] shirhatti commented on #2246
We should also document known issues with creating heap dumps with .NET Core 3.1 on Alpine. Related- https://github.com/dotnet/dotnet-monitor/issues/674

[2021-09-17 18:40] mikem8361 commented on #2509
Is the target running 3.1 or 5.0? It works for me on 5.0 and 6.0 for a simple repro that calls System.Console.ReadLine().

[2021-09-17 18:44] mikem8361 commented on #2509
My simple test case also displays all the line number info for 3.1.

[2021-09-17 19:12] mikem8361 commented on #2349
@hoyosjs, are you repro'ing this with debug 3.1 runtime bits? My local repro works for debug app bits but fails on the release System.Private.CoreLib frames. It looks like flakey-bit original repro is failing on system/runtime assemblies.

[2021-09-17 23:16] kelltrick opened #2598 "SetStartupProfiler can't serialize Guid in payload"
### Description

When calling [`DiagnosticsClient.SetStartupProfilerAsync(Guid profilerGuid, string profilerPath, CancellationToken token)`](https://github.com/dotnet/diagnostics/blob/2a6762a0ab2aa8fe87c2301b2b27b7efd2351cbd/src/Microsoft.Diagnostics.NETCore.Client/DiagnosticsClient/DiagnosticsClient.cs#L182) the internal method [SerializePayloadArgument<T>(T obj, BinaryWriter writer)](https://git

[2021-09-17 23:32] davmason commented on #2598
This should be trivial to fix, I neglected to add guids to the generic payload code I added here: https://github.com/dotnet/diagnostics/blob/2a6762a0ab2aa8fe87c2301b2b27b7efd2351cbd/src/Microsoft.Diagnostics.NETCore.Client/DiagnosticsClient/DiagnosticsClient.cs#L371-L395

[2021-09-18 16:37] #2357 closed

[2021-09-20 18:46] mikem8361 commented on #2591
/cc: @dotnet/dotnet-diag

[2021-09-20 19:10] josalem commented on #2591
@kRaBby it's worth pointing out that the gcdump format does not actually contain the memory from the heap. Instead, it contains a graph that represents the state of the heap at a given point in time. Each node represents an object on the heap and each edge represents a rooting relationship. You can open the gcdump format in PerfView for viewing metadata and structure of the heap, but you cannot in

[2021-09-20 23:33] #2596 closed

[2021-09-21 20:59] mikem8361 opened #2607 "SOS bpmd command on Main can stop twice"
If bpmd breakpoint is set before the assembly is loaded (like on Main before the app is started) and another bpmd is set after hitting the first one, continuing will stop in Main again.  The code generation JIT notification sets the first native BP on the very first instruction of the method but anytime another bpmd is set, all the pending bps are updated which sets a native BP after the method's

[2021-09-21 22:06] kevin-montrose opened #2608 "`EventSource` should mention some built-in types require special handling"
### Documentation Request

[`EventSource`](https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.tracing.eventsource?view=net-5.0) does not mention that some built-in .NET types need to be mapped to the types expected by ETW.  Presumably this has something to do with the reflection-generated manifests, but I haven't dug in to verify that.

To illustrate the issue, it is easy enough to mod

[2021-09-21 22:07] kevin-montrose commented on #2608
@hoyosjs ^ ping, per Vinod

[2021-09-21 22:44] mikem8361 commented on #2246
Can we remember to update the link to the createdump doc in the diangostics repo's FAQ.md?

[2021-09-23 02:07] davidmikh opened #2611 "Activity Ids not assigned to Activity tracked events when using certain provider strings"
### Description

When using the Microsoft-Diagnostics-DiagnosticSource provider I've noticed some filter strings cause ActivityIds to not be assigned properly despite them still appearing as activity tracked events. From what I was able to find so far it doesn't appear to be an issue with the application itself, as other filter strings collecting similar events on the same application don't run in

[2021-09-24 08:28] hoyosjs commented on #515
Need to add #2608 mentions to EventSource (special types that require manual marshaling to ETW types).

[2021-09-24 10:55] KalleOlaviNiemitalo commented on #2608
For C# 9, a source generator could generate the bodies of these methods and take care of the marshalling. <https://github.com/dotnet/runtime/pull/45699> already added EventSourceGenerator but it does not do this yet, as it focuses on initialization performance rather than developer convenience. The documentation would still help developers using other languages or .NET Framework targets that do no

[2021-09-26 03:37] tommcdon commented on #2541
Similar errors with [TestLogsAllCategoriesDefaultLevel](https://runfo.azurewebsites.net/search/tests/?q=started%3A~7%20definition%3Adiagnostics-public-ci%20name%3A%22testlogsallcategoriesdefaultlevel%22)

<html>
<body>

Test Run | Build | Kind | Message
-- | -- | -- | --
Tests Windows x64 Debug | 1384791 | Pull Request | Assert.Equal() Failure\r\n ↓ (pos 0)\r\nExpected: Another message\r\nActual:

[2021-09-28 14:45] Saipavan018 opened #2625 "Code Not working"
Hi

I downloaded dotnet trace code from GitHub and try to run the application from visualstudio it is showing error
Like  Required command was not provided...

Can u help me on this issue

[2021-09-28 16:29] janek-lopez commented on #2536
I'm having the same problem with alpine when i connect to the container using Portainer. Other tools like top or htop work just fine.

[2021-09-29 18:34] pellared opened #2628 "`dotnet-trace`: WSL2 issues when using `/mnt/c`"
### Description

It looks like `dotnet-trace` does not work properly on WSL2 for applications that are working on the Windows file system (e.g. under `/mnt/c/`)

Minimal repro steps in WSL:

[code]

Actual result:

[code]

### Configuration

* Is this related to a specific tool?

dotnet-trace 5.0.236902

* What OS and version, and what distro if applicable?

Microsoft Windows [Version 10.0.19043.1

[2021-09-30 16:39] mikem8361 commented on #2576
This will be fixed in PR https://github.com/dotnet/diagnostics/pull/2595

[2021-09-30 16:41] mikem8361 commented on #2542
Not sure if we can fix this in 6.0 tooling because it depends on debugger/Windows update.

[2021-09-30 16:43] mikem8361 commented on #2375
@hoyosjs has your issues been addressed?

[2021-09-30 16:45] mikem8361 commented on #2438
Fixed in PR https://github.com/dotnet/symstore/pull/302

[2021-09-30 20:12] janek-lopez commented on #2536
After some investigation, it seems in alpine **Console.SetCursorPosition** and **Console.Clear** are not working properly but ANSI escape codes are.

I did some quick and dirty changes to **dotnet-counters/Exporters/ConsoleWriter.cs**

I added this two methods  and replace all references to Console.SetCursorPosition and Console.Clear and re-tested on alpine and it seems to be working fine.

[code]

[2021-09-30 20:19] josalem commented on #2536
That was my hunch of what was wrong. `dotnet-trace` uses this code to handle this kind of issue:
https://github.com/dotnet/diagnostics/blob/e7976ae7bbcf55242d5b1b174c44f1e6991161ed/src/Tools/Common/Commands/Utils.cs#L130-L163

The fix is to have `dotnet-counters` attempt to use ANSI escape codes if the following attempt to enable vterm passes: https://github.com/dotnet/diagnostics/blob/e7976ae7bbc

[2021-10-04 19:49] hoyosjs commented on #2375
I think all of the ones I saw are fixed.

[2021-10-04 19:49] #2375 closed

[2021-10-05 00:21] cshung commented on #2451
I verified that https://github.com/dotnet/diagnostics/pull/2547 fixed the issue, the test is now passing for `USE_REGIONS`.

[2021-10-05 00:21] #2451 closed

[2021-10-05 05:13] hoyosjs commented on #2625
I already responded on .NET monitor how to do it for their solution - it's similar here. Open the solution, choose a project to run, set the right parameters in `properties -> debug -> arguments` . If it's on something like dotnet-dump or dotnet-sos, you need to build the repository at least once.

[2021-10-05 05:13] hoyosjs commented on #2598
The fix was merged.

[2021-10-05 05:13] #2598 closed

[2021-10-05 05:14] #2625 closed

[2021-10-05 20:53] noahfalk commented on #2591
Reference the Microsoft.Diagnostics.NetCore.Client nuget package and use this example code:
[code]

dotnet-dump is an open source tool and you can see its full source [here](https://github.com/dotnet/diagnostics/tree/main/src/Tools/dotnet-dump)

As @josalem mentioned this one is more complex and there is no quick API call that will do it, but you can see how dotnet-gcdump does it by examining the

[2021-10-05 20:53] #2591 closed

[2021-10-05 21:28] mikem8361 commented on #2576
Fixed.

[2021-10-05 21:28] #2576 closed

[2021-10-06 14:53] Saipavan018 opened #2654 "Empty .Net Trace File generated"
Hi team,
  After generating .nettrace file I opened with visual studio not able to see in this file it is showing empty file but converted to chromium.json file it is opened in visual studio but not able to understood can u help me on this issue why can't able to open .nettrace in visual studio actually dotnet monitor .nettrace will able to see data in visual studio can u help me why can't able to

[2021-10-11 15:45] HonzaMD opened #2664 "Using dotnet-counters tool stops internal EventListener"
### Description

Hello,
I have a net 5.0 application, where I log System.Runtime performance counters with EventListener.
Similarly as in sample https://docs.microsoft.com/en-us/dotnet/core/diagnostics/event-counters#sample-code
It works as expected.

When I in addition start dotnet-counters tool (to see that I log the same numbers as the tool says)
* It changes EventCounterIntervalSec
* when I st

[2021-10-11 23:14] #506 closed

[2021-10-13 17:59] hoyosjs commented on #2654
Sorry @Saipavan018. speedscope files are to be opened in a tool like https://www.speedscope.app/. As for why you can't open the file in VS, it's hard to say why that happened. First, how did you capture the file. Second, can PerfView open that file and give you good results. That way we can see if it's a producer issue, or a consumer issue. cc: @josalem

[2021-10-13 22:44] mikem8361 opened #2673 "bpmd for single-file app under lldb at program launch doesn't work"
For Linux or MacOS single file apps under lldb stopped after `process launch -s`, bpmd doesn't work. It is because SOS finds the single file module (it has been loaded by then) but the DAC global table hasn't been initialized yet.

When this is fixed re-enable the bpmd tests for Unix single-file NestedExceptionTest.script, OtherCommands.script and StackAndOtherTests.script.

[2021-10-14 00:07] hoyosjs commented on #2438
Other than ingestion from the Watson folks, and your PR, is there anything missing here @mikem8361?

[2021-10-15 22:16] mikelle-rogers commented on #1716
I tried to repro this using Windows Terminal with PowerShell, Command Prompt and Ubuntu, I was not able to repro it. I am closing this issue. Please feel free to reopen this issue if the problem is encountered again.

[2021-10-20 07:41] itn3000 opened #2691 "KeyValue arguments in "dotnet-trace collect --providers" is not parsed correctly."
### Description

Passing argument which contains specific pattern,  dotnet-trace cannot parse correctly.

string which contains multiple Key-Value arguments like following(passed by rsp);
[code]
I expected above string is parsed as `A="B"` and `C="D"`,
but actually, parsed as `A="B;C=D"` and `C="D"`.

### Configuration

* dotnet-trace version = `5.0.236902+5366510b270d0f0ebffc9e36e9496688b20b96c2`

[2021-10-20 23:14] timmydo opened #2693 "dotnet-counters monitor dumb terminal mode"
## Background and Motivation

My coworker was running dotnet-counters on a machine and noticing that nothing appeared to show up:

![image](https://user-images.githubusercontent.com/1028829/138184950-16c68e4b-941c-4796-b95b-ce5374cd4869.png)

(it appears all the updates aren't written correctly for this terminal... not sure what that last zero is off at the bottom)

## Proposed Feature

`--termina

[2021-10-20 23:28] shirhatti commented on #2693
If I understood correctly, you have an old terminal that doesn't support VT100-style control codes and ergo you want a simple output?

👀 @mikelle-rogers who was looking at some changes in this space.

As a simple workaround in the meantime, you could probably just write to a file and tail the file.

[2021-10-20 23:39] timmydo commented on #2693
yes, we worked around it using collect to write to a file, but would be more convenient for collect to accept `-` as output or have monitor write to a dumb terminal

[2021-10-21 21:22] maniku1 opened #2695 "'dotnet-dump analyze' crashes when executing 'dumpasync -stacks'"
### Description

dotnet-dump version 5.0.251802, crashes on when executing 'dumpasync -stacks' for dotnet 3.1.12 core dump collected using 'createdump' utility. Full exception stack

[code]

[2021-10-22 18:14] mikem8361 opened #2698 "Add generate crash report flag to WriteDump/WriteDumpAsync"
## Background and Motivation

The VS for Mac team needs a way to generate the crash report json file for hangs.

## Proposed Feature

Add a flags argument to the Microsoft.Diagnostics.NETCore.Client.WriteDump/WriteDumpAsync API that enables crash report json and other logging options (verbose and log to file).  This will require work on the runtime side also.

[2021-10-27 17:38] mikem8361 opened #2709 "Re-enable DebugServicesTests.ModuleTests on Windows once the underlying problem is fixed"
The DebugServicesTests.ModuleTests and part of RuntimeTests are disabled on Windows because they are consistently failing now because clrmd's PEImage reader (impl on top of System.Reflection.Metadata.PEReader) doesn't deal with partial dumps. Using the symstore's PEFile instead may be the way to fix this.

[2021-10-28 03:37] jander-msft opened #2711 "Async DiagnosticsClient methods can hang on Windows if target process is unresponsive"
### Description

If the target process is unresponsive on the diagnostics pipe, then the async methods on DiagnosticsClient can hang indefinitely even when the CancellationToken is signaled.

The problem is that if the target process does not call ConnectNamedPipe to establish a pending connection operation, then the call to WaitNamedPipe will wait indefinitely. The NamedPipeClientStream.TryConnec

[2021-10-29 17:02] mikem8361 opened #2717 "Document new Microsoft.Diagnostics.NETCore.Client.DiagnosticsClient.WriteDump/WriteDumpAsync APIs"
### Documentation Request

Document new Microsoft.Diagnostics.NETCore.Client.DiagnosticsClient.WriteDump/WriteDumpAsync APIs.

[code]
### Previous documentation

Only `void WriteDump(DumpType dumpType, string dumpPath, bool logDumpGeneration = false)` is currently documented.

[2021-10-29 23:17] jacoballen73 opened #2719 "Many dotnet diagnostics tools fail to run on stuck container"
### Description

We have a linux docker container running a dotnetcore 3.1 app which has been completely frozen for the past ~6 days.  In this time, it has not published any MDM metrics or been responsive at all.  We were able to create a memory dump using dotnet-dump, however many other dotnet diagnostic tools did not work.  Specifically, dotnet-trace would hang after making the call (even with a

[2021-10-30 18:13] mikem8361 commented on #2717
Also document the new --crashreport dotnet-dump collect command line option.

[2021-11-01 08:25] shirhatti opened #2721 "dotnet trace ps should report command line and managed entrypoint assembly name"
## Background and Motivation

As @pranavkm complained to me, this is the currently unhelpful output he often sees from running `dotnet trace ps`:

[code]

## Proposed Feature

Trying to the use the ps command on the .NET diagnostic CLI tools can be frustrating because we don't report command line and entrypoint assembly name. Given that we already have support in the runtime (via the `ProcessInfo`

[2021-11-01 21:13] #2698 closed

[2021-11-01 22:13] tommcdon commented on #2719
@jacoballen73 thank you for the report!  If you still have the dump available please open a Visual Studio feedback item (this can be done in VS using the "Send Feedback" option, and then attach appropriate diagnostics artifacts to the ticket.  This might give us some pointers to what was causing the issue.

[2021-11-01 22:14] tommcdon commented on #2719
FYI @hoyosjs @josalem

[2021-11-01 22:18] jacoballen73 commented on #2719
Just submitted the feedback with the attached .dmp file

[2021-11-02 10:47] gfoidl commented on #2721
The same applies to the other tools (counters, dump, gcdump) too?

A simple and manual workaround is to look in the task manager for the wanted process with the displayed PID.
But a more friendly solution is welcome.

👍🏻

At least having the name of the entry assembly would be nice.

[2021-11-03 17:35] tommcdon commented on #2711
@jander-msft please feel free to start a PR with the proposed workaround.  I put the issue in 7.0 as our 6.0 backlog is already full, but I am happy to ship a potential fix in an upcoming diagnostics tools release if we have a fix in hand.

[2021-11-03 17:44] tommcdon commented on #2664
This seems to be related to dotnet/runtime#12926
@mikelle-rogers

[2021-11-03 19:22] RobertHenry6bev opened #2728 "spurious Carriage-Return (Control M) in linux output"
https://github.com/dotnet/diagnostics/blob/a3464a70b39887d6ee56e181d14975541f3ce516/src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs#L378 is putting out a spurious Control-M when printing on linux.  Linux end of line conventions do not include the Control-M.

[2021-11-03 19:30] RobertHenry6bev opened #2729 "dotnet trace collect does not preserve instrumented application's stdout"
I run on linux:

dotnet trace collect \
--output gc.nettrace \
--profile gc-collect \
--  \
binarytrees-csharpaot-6/bin/Release/net6.0/linux-x64/publish/binarytrees-csharpaot-6 10 \

The file stdout redirection points to to contains diagnostic data from running dotnet trace.  This should not happen.  The stdout of the application is apparently lost.

The file  being redirected to should contain th

[2021-11-04 08:05] itn3000 commented on #2691
I made PR(#2730)

[2021-11-04 17:43] RobertHenry6bev opened #2731 "dotnet trace on x86_64 ubuntu 21.10 linux does not capture CPU time"
Thie total reported CPU Time and GC CPU Time is 0 msec for a long running application.

Running on x86_64 ubuntu 21.10 linux, with dotnet 6.0.100-rc.2.21505.57 I run an invocation of trace collect for  gc-collect:

dotnet trace collect --output  binarytrees-csharpcore-6.21.out.gc.nettrace --profile gc-collect --  binarytrees-csharpcore6/bin/Release/net6.0/linux-x64/publish/binarytrees-csharpcore-6

[2021-11-06 16:08] AraHaan opened #2736 "[Feature Request] Add flag to WriteDump Apis to hide the entire console."
## Background and Motivation

I have a program that calls into the WriteDump apis (A Windows Forms application). It used to call into MiniDumpWriteDump directly but the client package fixed where it would 100% of the time return the win32 error code ``ERROR_PARTIAL_COPY``. As such that was the motivation to move it to the client package to remove that error code rate entirely. However it is intrus

[2021-11-06 16:33] mikem8361 commented on #2695
This will fixed in the next release (coming in the next few weeks). The bad news is that `dumpasync -stacks` on your large dump takes 5 or more minutes.  `pstacks` does something similar and takes less time.

[2021-11-06 16:33] #2695 closed

[2021-11-08 16:59] tommcdon commented on #2611
@tarekgh @noahfalk

[2021-11-08 17:02] tommcdon commented on #2628
@mikelle-rogers

[2021-11-08 17:03] tommcdon commented on #2654
@Saipavan018 please let us know if you are still seeing this issue on recent versions of Visual Studio

[2021-11-08 17:06] tommcdon commented on #2729
@mikelle-rogers

[2021-11-08 20:14] davmason commented on #959
This was fixed with https://github.com/dotnet/diagnostics/commit/317025c7103e8f701728b9a42e4321e9500001f0

[2021-11-08 20:14] #959 closed

[2021-11-08 21:40] tommcdon commented on #2356
Closing this issue as it seems to be resolved.  Please let us know if the issue still persists and further discussion is needed.

[2021-11-08 21:40] #2356 closed

[2021-11-09 18:54] mikelle-rogers commented on #2693
I tried to repro this running the command prompt as an administrator and everything printed correctly. What version of command prompt and .NET are you using?

[2021-11-09 19:35] kalikin opened #2741 "DiagnosticsClient.AttachProfiler fails to serialize additionalData."
[DiagnosticsClient.AttachProfiler](https://github.com/dotnet/diagnostics/blob/1d61b33fcc5e83b8282618f5d157ddf7e44c3c61/src/Microsoft.Diagnostics.NETCore.Client/DiagnosticsClient/DiagnosticsClient.cs#L192) accepts `byte[]` as a last parameter, which we use in our profiler to pass profiler options. However, API fails to serialize it with the following message:

Adding the following check to the [Ser

[2021-11-10 19:47] tommcdon commented on #2282
resolving as a duplicate to #2721

[2021-11-10 19:47] #2282 closed

[2021-11-11 00:28] mikelle-rogers commented on #2731
Providing --profile with the gc-collect keyword specifically provides the providers that track GC collections only at very low overhead. Specifying gc-collect is choosing a set of providers that does not include the SampleProfiler provider, which is the provider that tracks CPU usage and general .NET runtime information. (The code that implements this can be seen in CollectCommand.cs lines 45-50 a

[2021-11-11 18:14] RobertHenry6bev commented on #2731
I now understand that the timing information isn't captured when doing gcstats because it is high(er) overhead.

If the time information isn't captured, then please change perfview so that it doesn't display 0 for a field it doesn't know about, and so it doesn't display NaN (nan) when it attempts to use 0 for time and end up dividing 0.0 by 0.0

[2021-11-11 22:33] mikelle-rogers commented on #2731
Requests to change perfview can be filed in the Microsoft/perfview repository: https://github.com/Microsoft/perfview

Closing this as external because the change is not in dotnet-trace.

[2021-11-11 22:33] #2731 closed

[2021-11-12 02:09] tommcdon commented on #2741
@kalikin thank you for the bug report!  Please feel free to submit a PR to address the issue.

[2021-11-12 02:42] tommcdon opened #2747 "HandleableCollectionClearItemsTest test failure"
HandleableCollectionClearItemsTest fails in CI with `Assert.Equal() Failure\r\nExpected: 1\r\nActual:   2`

### Callstack

[code]

[2021-11-12 08:18] davmason commented on #2741
Opened #2748 to fix this

[2021-11-15 22:42] #2741 closed

[2021-11-17 05:43] #2711 closed

[2021-11-19 19:24] vonzshik commented on #2693
Also reproes for me.

![image](https://user-images.githubusercontent.com/14861420/142679748-d7bc4d43-b3a2-4d64-915d-e0e38df7d996.png)

All I do, is:
1. Start an app
2. `dotnet-counters monitor -p process_id`
3. exit via pressing `q`
4. repeat the command from step 2

dotnet-counters version is `5.0.251802+592990b5913930a1b51b7505cdbb3b2205c79f03`

[2021-11-20 05:02] timmydo commented on #2693
@mikelle-rogers i think it was the latest dotnet-counters at the time. the issue was it was a windows server version with an older cmd that doesn't support vt100 apparently. i think a mode that just does console.writeline would be fine

[2021-11-21 11:36] joshuajung commented on #2518
I am facing the same issue on macOS 12.0.1 on arm64:

[code]

As per your suggestion, @mihaimyh, I checked `createdump` permissions, but those seem fine:

[code]

However, `createdump` itself also does not seem to work as intended:

[code]

Is it possible that this issue is still pending? I'd be happy to help track this down.

[2021-11-22 07:02] #2691 closed

[2021-11-22 23:38] mikelle-rogers commented on #2628
Fixed in the latest version of dotnet-trace.

[2021-11-22 23:38] #2628 closed

[2021-11-23 00:02] hoyosjs opened #2760 "BasicProcessInfoNoSuspendTest and BasicProcessInfoNoSuspendTestAsync are flaky"

[2021-11-23 09:57] joncoelloaccess opened #2763 "Is there a recommended process to follow for a dotnetcore memory dump in production?"
I have an asp.net core 3.1 application running under IIS.  It's had a fairly sudden increase in memory and I'd like to do a memory dump.

Is there a safe production process to follow?  Its a load balanced environment to it would be straight forward enough to add and remove from the load balancer.  There's no session state but we do use caching.

[2021-11-23 18:35] tommcdon commented on #2763
Hi @joncoelloaccess there are several techniques that can be used to diagnose memory issues in production.  As with collecting any diagnostic artifact, whether it be a log file, performance trace, or memory dump, care should be taken to protect customer information.  If you are using Azure, there are some great diagnostics built in.  Please see [Azure App Service Diagnostics](https://docs.microsof

[2021-11-23 19:25] joncoelloaccess commented on #2763
This is great, thanks v much :)

[2021-11-23 23:37] #2763 closed

[2021-11-25 09:26] InCerryGit opened #2766 "`dotnet-gcdump` System.ApplicationException: ETL file shows the start of a heap dump but not its completion."
### Description
`System.ApplicationException: ETL file shows the start of a heap dump but not its completion.` when using dotnet-gcdump to dump a large managed heap。
[code]
![image](https://user-images.githubusercontent.com/36690780/143414019-7a0f8b92-67a3-4d97-862c-28ba9c0c781d.png)

Code
[code]

### Configuration

[code]

[2021-11-25 10:09] InCerryGit opened #2767 "`dotnet-dump` System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values."
### Description

`System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values.` when using dotnet-dump analysis to  a large managed heap。
GC Heap Info:
Gen0: 26MB
Gen1: 30MB
Gen2: 49.5GB
LOH: 4GB

![7452a01591b59b5872a9ac6edbe3ac5](https://user-images.githubusercontent.com/36690780/143418889-1eaa7264-bdef-4df2-a211-2186872e9a31.png)

### Configuration

Docker：x64, 6

[2021-11-26 17:24] mikem8361 commented on #2767
This will be fixed in our upcoming 6.0 tool release.

/cc: @hoyosjs

[2021-11-29 17:23] mikem8361 commented on #2518
@joshuajung your issue isn't the same. Your issue is that createdump fails on MacOS M1/arm64 looking up an important loader symbol.  Can you create a new runtime repo issue with your description?

[2021-12-02 02:38] #2767 closed

[2021-12-02 04:27] hoyosjs commented on #2767
This should be available in https://github.com/dotnet/diagnostics/releases/tag/v6.0.257301

[2021-12-02 10:34] hoyosjs opened #2775 "Native symbols are not indexed"
There's no symbol package that contains them.

[2021-12-02 21:20] monrealis opened #2776 "Add source file names and line numbers to the output of dotnet-stack"
I would like to propose`dotnet-stack report -p <pid>` to report additionally source file names and line numbers, similar to how `jstack` does. It would help to better understand what the program is doing. The information is usually present, since it is reported in the stack traces of exceptions.

[2021-12-03 01:48] hoyosjs commented on #2775
That works - I expected them to be in the tool packs. But that one works.

[2021-12-06 22:48] #2729 closed

[2021-12-06 22:48] #2728 closed

[2021-12-08 19:22] #2775 closed

[2021-12-08 19:28] #2709 closed

[2021-12-09 09:48] funcmike opened #2779 "dotnet-dump do not create any dumps (dotnet 6 on OSX Apple Chip)"
### Description
dotnet-dump do not create any dumps (just writes completed) but dotnet-gcdump works ok.

[code]

### Configuration
* OSX Monterey  12.0.1
* ARM64 / Apple Chip
* dotnet-dump --version
6.0.257301+27172ce4d05e8a3b0ffdefd65f073d40a1b1fe54
* dotnet --version
6.0.100

[2021-12-09 17:33] mikem8361 commented on #2779
This is a dup of https://github.com/dotnet/runtime/issues/62181 and should be fixed in the next 6.0.x service release.

[2021-12-12 12:58] larspars opened #2781 "dotnet-trace prints "Unable to examine process." (when run in Kudu command line on App Service)"
Installing dotnet-trace and running `D:\path\to\dotnet-trace.exe collect -p <pid> --duration 00:00:30` prints `Unable to examine process.` when run in Kudu (Windows App Service).

Not sure if it qualifies as a bug, maybe it's a new restriction in App Service, but it's a step-by-step reproduction of what was done in the 1 month old presentation "[Large Object Heap Churn in .NET](https://www.youtube

[2021-12-16 00:42] kelltrick opened #2784 "Translate HRESULT error codes from the DiagnosticClient into human-readable exceptions"
We should translate the HRESULT exception codes we receive from `DiagnosticClient` into meaningful human-readable descriptions of the codes.

## Background and Motivation

When we get an error from the `DiagnosticClient` it will look something like this:
[code]

## Proposed Feature

We should translate the code 0x8013135B into it's description "Not Yet Available". Full list of codes here: [dotnet/

[2021-12-17 22:54] calgagi opened #3081 "Debugging a self-contained app locks its mscordbi.dll"
### Description

Issues from debugging with VS:

- https://developercommunity.visualstudio.com/t/mscoredbidll-stays-opened-after-debuggi/1615672
- https://developercommunity.visualstudio.com/t/Debugging-a-self-contained-app-locks-its/1461333

### Reproduction Steps

1. Create a C# console app (.NET 6)
2. Open project file, paste
[code]
3. Debug the app
4. Rebuild the solution

### Expected behavio

[2021-12-22 19:18] liorss18 commented on #2404
What's the status of this issue, as I suffer from the same thing as well.
Our process is 60gb.
We took the dump while the process was doing almost 0 work (i.e: almost 0 rps and 0 cpu).
It looks from the logs that gcdump misses the GCStop event with the relevant ID:
[code]

[2021-12-22 21:13] jander-msft commented on #2784
I think exposing the command HRESULT on `ServerErrorException` (https://github.com/dotnet/diagnostics/blob/main/src/Microsoft.Diagnostics.NETCore.Client/DiagnosticsClient/DiagnosticsClientExceptions.cs#L27) by either setting `Exception.HResult` or adding a new property would be a great start such that the caller could make some informed decision on what to do next instead of just giving up. This w

[2021-12-29 15:51] tommcdon commented on #2781
@mikelle-rogers

[2022-01-05 15:18] dzrhythm commented on #2246
Also please note that the article referenced in response to #62781:
https://docs.microsoft.com/en-us/dotnet/core/diagnostics/debug-linux-dumps
has an inaccurate statement. It says:

According to the #62781 response `createdump` requires both SYS_PTRACE **and** root/sudo/su.

[2022-01-11 08:03] crnegule commented on #536
hello, i would be willing to work on this if i get a pointer where to start from .

[2022-01-11 22:56] crnegule opened #2807 "dotnet-dump analyze clear screen"
When using dotnet-dump analyze there is no way to clear the current display.
It would be great to have the feature to clear the previous messages, similar to  ***Clear-Host*** from [Microsoft.PowerShell.Core](https://github.com/PowerShell/PowerShell/blob/7dc4587014bfa22919c933607bf564f0ba53db2e/test/powershell/engine/Basic/DefaultCommands.Tests.ps1) or ***cls*** from CMD or ***clear*** in a Linux

[2022-01-11 23:14] crnegule opened #2808 "dotnet-dump analyze output to file"
Due to the way we interact with dotnet-dump analyze it would great to have a feature were we could output the results of a command to a file on the disk.
This feature would be similar to ***Out-File*** command from [Microsoft.PowerShell.Core](https://github.com/PowerShell/PowerShell/blob/7dc4587014bfa22919c933607bf564f0ba53db2e/test/powershell/engine/Basic/DefaultCommands.Tests.ps1) or similar to

[2022-01-11 23:51] crnegule commented on #676
@tommcdon, if this is still needed, i can try to set it up .

[2022-01-17 02:58] felixxu06 opened #2821 "Failed to find runtime module (coreclr.dll or clr.dll or libcoreclr.so), 0x80004002"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug

[code]

### Expected Behavior

display the corresponding clrstack or dumpobj information in the console.

### Steps To Reproduce

_No response_

### Exceptions (if any)

_No response_

### .NET Version

.net core 3.1

### Anything else?

_No response_

[2022-01-17 11:24] javiercn opened #2815 "Failed to find runtime module (coreclr.dll or clr.dll or libcoreclr.so), 0x80004002"
For some reason GH doesn't allow me to transfer issues from ASP.NET Core to this repo.

https://github.com/dotnet/aspnetcore/issues/39564

Check the original issue here

[2022-01-17 14:15] crnegule commented on #2808
The feature i am referring to is inside the interactive dotnet-dump analyze instance. When we do the dump analysis to have the option to output the content without calling a new instance of dotnet-dump.

[2022-01-18 19:47] mikem8361 opened #2819 "Diagnostics tests don't run on MacOS arm64"
Because 3.1.x/5.0.x runtimes tried to be installed/tested against.

Need to conditional install/test against these runtimes.

And somehow deal with these runtimes installed by global.json.

[2022-01-19 21:56] hoyosjs commented on #2815
Transferred the original issue over.

[2022-01-19 21:56] #2815 closed

[2022-01-20 06:42] jander-msft commented on #2821
Point of clarification... @felixxu06 is trying to analyze a GC dump file with `dotnet-dump`. @mikem8361 & @hoyosjs: is analyzing GC dumps actually supported by `dotnet-dump`? I can't find a reference in the documentation that says this is supported: https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-dump

[2022-01-20 06:58] sywhang commented on #2821
gcdumps (assuming they were collected with dotnet-gcdump) aren't analyzable with dotnet-dump. You can open it in PerfView or Visual Studio instead to analyze it.

[2022-01-20 07:16] felixxu06 commented on #2821
I collect this dump with dotnet-dump and try to analyze it with dotnet-dump. Does it make scense?

[2022-01-20 08:02] jander-msft commented on #2821
That statement in of itself does make sense. However, every single example you've cited thus far is trying to analyze a file called `my.gcdump`, which is GC dump, not a memory dump.

[2022-01-20 20:16] felixxu06 commented on #2821
Yeah, Jander. I am not quite sure about the differences between these two kinds of the dump. However, I just manually rename the dump's name with an extension.  At the very beginning, there is no extension name, I still got the same error. I try this in WSL centOS 8 with only .net core 3.1 runtime and SDK. Everything goes well. So I am curious that the reason is multi-runtime and SDK. And how to c

[2022-01-21 19:19] josalem opened #2824 "dotnet-trace not completing trace till VS4M target ends"
You are right, I did the wrong thing there! Still getting used to the new tooling ecosystem.

This time, I attached to the right dotnet process:

I'm launching dotnet trace like so, doing what I wanted to do in VSMac then sending `ctrl+c`, which should stop it.
`dotnet trace collect -p 15750`

Instead, it waits doing nothing until vsmac is closed.

<details>
<summary>pstacks</summary>

[code]

</d

[2022-01-21 22:58] #1383 closed

[2022-01-21 22:58] mikelle-rogers commented on #1383
Completed.

[2022-01-26 10:13] WeihanLi opened #2830 "Why the maxVersion is 5.0, should it be 6.0?"
Code below:

https://github.com/dotnet/diagnostics/blob/6514686c2e5da134a82840c09a2e056954fd6395/src/Tools/dotnet-counters/KnownData.cs#L15

[2022-02-02 15:45] bschwehn opened #2841 "dotnet-gcdump collect: System.Exception: Read past end of stream"
### Description

running dotnet-gcdump collect gives me this exception:

[code]

### Configuration

Target process is running in the debian 10 based docker image mcr.microsoft.com/dotnet/aspnet:3.1 as pulled 2021-11-17 (0bcae74bb1e8) running in k8s.

gcdump was installed via

[code]

Target process is a bit shy of 1GiB memory consumption
[code]

Versions
[code]

I, unfortunately, don't know how to

[2022-02-02 16:16] johnstairs opened #4629 "`dotnet-symbol` always exits with success code"
The exit code of `dotnet-symbol` should be non-zero when it encounters an error. Example:

[code]

[2022-02-03 13:29] gfoidl commented on #2841
For reference: top of the stack-trace is similar to https://github.com/dotnet/diagnostics/issues/298

[2022-02-07 17:53] maheshwariST opened #2850 "Dump name formatting generates weird file name"
### Description

The [dump name formatting](https://github.com/dotnet/runtime/blob/main/docs/design/coreclr/botr/xplat-minidump-generation.md) does not work for one particular instance. The dump file names generated are like
 `%.0.000000e+00.0xede.%.coredump`, `%.2.525175e-312.0x116f.%.coredump`, `%.0.000000e+00.0x1b2c.%.coredump`, etc. but I expected them to be like `HostDeploymentName-b6fdc6df-p

[2022-02-09 21:37] noahfalk opened #2861 "dump debugging docs feedback"
We got this feedback below on our dump debugging docs. We should make some improvements.

[code]

[2022-02-10 17:43] #2850 closed

[2022-02-10 17:53] mikem8361 opened #2865 "Convert SOS.Package project files to how dbgshim is packaged"
Instead of the hacky way the SOS.Package.csproj and SOS.Symbol.Package.csproj are putting together all the SOS architectures use the separate architecture packages with a meta-package to combine them like dbgshim packaging does.

[2022-02-11 22:21] noahfalk commented on #2766
I reproduced this issue and tracked it down to dropped events from EventPipe. Fixing this should be doable, but may not be trivial. For those running into it and needing a more immediate solution my best suggestion would be to use dotnet-dump instead. dotnet-dump uses a different mechanism to collect the memory which doesn't have this lossiness problem.

 As best I can tell this is long-existing p

[2022-02-19 15:13] am11 opened #2877 "dotnet-sos experience on macOS arm64"
On macOS arm64, dotnet-sos is installed with native architecture, as long as we explicitly specify `-a arm64`. This is unideal, as native architecture should be used by default and non-native one should be specified via `--arch / -a` option.

Moving on, this is what I am seeing with arm64 bits:

[code]

This error suggests that something is still probing .NET 5 (x64) components:

which is .. `unex

[2022-02-19 15:31] tommcdon commented on #2877
@mikem8361

[2022-02-20 18:01] mikem8361 commented on #818
From @Qingchuan Zhang

Inspecting thread static value for generic class failed in SOS · Issue #818 · dotnet/diagnostics
Inspecting the value of a thread static field of the generic class is failing with the following AV (which is then swallowed and show nothing) 00 0000001d`ff0fb4e0 00007fff`5710e41d mscordaccore!__...

If we do find time to implement this feature, it would only be in our 7.0 rele

[2022-02-20 18:01] qingchuan commented on #818
来信已收到。GOOD LUCK!

[2022-02-20 18:08] mikem8361 commented on #2877
This is 2 different problems I think. One is that the dotnet-sos needs to detect that it is installing on a MacOS arm64. This should be a simple fix in the installer.

The second is that you have both an x64 and arm64 dotnet SDK installed.  SOS uses this to host it's managed code and it looks at the config file /etc/dotnet/install_location for the runtime.  Depending on the order of the SDK instal

[2022-02-20 23:10] am11 commented on #2877
@mikem8361, thanks! I installed .NET 6 SDK from https://dot.net on this new machine. Later, when I was setting up my dev environment, I realized that few of our projects are using .NET 5, so I downloaded .NET 5 SDK (again from the same official website). There is only osx-x64 package available for .NET 5, so I installed that one. Over the weekend, I was experimenting with SOS and found this issue.

[2022-02-21 02:45] mikem8361 commented on #2877
There isn't any way for SOS to know that the architecture of the runtime install is incorrect, I don't think.  I'll have to look into this.  You are not the only one that has ran into this.

[2022-02-21 14:49] danielo-unity3d opened #2881 "How to halt dotnet-trace in an automated context (CI job)"
Hi.
The dotnet-trace tool expects to end collection when it receives a Ctrl-C/break command or a newline, however, I've been unsuccessful setting up a script to do this in automated fashion. How exactly are we to send the termination event to the tracing tool.

The basic setup is:
[code]

The output of the trace program is:
[code]

Then, to attempt to halt the application, any input should work, s

[2022-02-21 14:55] danielo-unity3d commented on #2881
Note that, I also tried this:
[code]

[2022-02-21 15:26] danielo-unity3d commented on #2881
I also thought it might be possible to user `taskkill /pid <pid>` to gracefully terminate the trace tool, but I had no such luck:
[code]
When forcefully terminated, the trace file is incomplete:
[code]

[2022-02-21 21:12] darraghjones opened #2882 "Expose the process ThreadCount in dotnet-counters"
There are several ThreadPool related metrics exposed as System.Runtime counters.

https://docs.microsoft.com/en-us/dotnet/core/diagnostics/available-counters

But why is the System.Diagnostics.Process.GetCurrentProcess().Threads.Count not exposed?

It seems like this would be useful.

[2022-02-21 21:20] davidfowl commented on #2882
See https://github.com/dotnet/runtime/issues/47165

[2022-02-21 22:17] sywhang commented on #2882
I'm no longer in the .NET team but for the record, this wasn't as straightforward as adding a counter like:
[code]
mainly due to how expensive `System.Diagnostics.GetCurrentProcess().Threads.Count()` is.

`System.Diagnostics.GetCurrentProcess().Threads` allocates as many times as there are threads, and reads a lot of other info about the process that's not interesting from the perspective of the r

[2022-02-22 13:37] hakenr opened #2884 "dotnet.wasm diagnostics tools (load browser heap-snapshot to dotnet-dump analyze?)"
There are situations (like https://github.com/dotnet/runtime/issues/62054) where we need to analyze memory-leaks and similar issues in Blazor WebAssembly projects. Is there any chance to create a tool which would allow me to load the browser heap-snapshot and analyze the WASM part in manner similar to SOS?

Related: https://github.com/microsoft/clrmd/issues/979

[2022-02-22 19:32] #591 closed

[2022-02-22 19:32] #2721 closed

[2022-02-23 06:19] ShreyasJejurkar opened #2885 "SOS not able to resolve symbols correctly when `COMPlus_TieredCompilation` is on"
For curiosity and huge interest in JIT and assembly, I generally use the SharpLab tool to see the assembly code generated by the compiler. But recently I switched to [WinDbg](https://www.microsoft.com/en-us/p/windbg-preview/9pgjgd53tn86) to see generated ASM code by using this [workflow](https://twitter.com/ShreyasJejurkar/status/1496359786237263874).

But what could I notice was that Windbg (with

[2022-02-23 14:07] tommcdon commented on #2885
@mikem8361

[2022-02-23 16:49] #2830 closed

[2022-02-23 21:15] #2717 closed

[2022-02-24 00:44] mikem8361 commented on #2885
Thanks for the report. I'll have to look into why tiered compilation affects this.  If I understand correctly, it is the source/line numbers that are missing and not the module and method names in the !u command?

What version of the .NET runtime are you running?  Can you also confirm the version of sos that windbg loaded? The `.chain` command should list something like:
[code]
windbg should load

[2022-02-24 05:48] ShreyasJejurkar commented on #2885
`.chain` output
![image](https://user-images.githubusercontent.com/17148381/155465595-06011ea5-da70-4a33-8b6e-6bea2d2bf95d.png)

I am using latest .NET 6 SDK.

[2022-02-24 05:50] ShreyasJejurkar commented on #2885
The method name of actually that call instruction is invoking. In the StackOverflow question, you can see what I am trying to highlight! I want method address to get resolved with actual method name from CoreLib.

[2022-02-27 16:03] Trivedi-Ashish commented on #1125
@hiteshmadan I too bumped into event counters but I am not sure if I have the similar use-case you have mentioned.
I am required to use Event Counters to monitor/collect some metrics from my application.(for cross platform library)
Prior to this I was using Performance counters to collect my metrics, **performance counters allowed creating multiple instances of set of counters dynamically in an ap

[2022-03-01 18:26] igorvlassov opened #2891 "IOException in dotnet-counters"
### Description

When dotnet-counters executed in docker read-only container from mounted read/write volume, the app throws the following exception:
[code]

### Configuration

CentOS 7 based host system
[code]

CentOS 7 based read-only Docker container
[code]
dotnet-counters is downloaded from https://aka.ms/dotnet-counters/linux-x64

dotnet runtime aspnetcore-runtime-3.1.22-linux-x64.tar.gz

[2022-03-02 06:48] igorvlassov commented on #2891
Set tmp dir to another place fix this:
[code]

[2022-03-02 06:48] #2891 closed

[2022-03-04 21:00] mikelle-rogers commented on #2445
EventListener (it is mentioned but not descried). Include [init behavior] (https://github.com/dotnet/runtime/issues/38804#issuecomment-655186978). As mentioned in #515

[2022-03-04 21:03] mikelle-rogers opened #2898 "DiagnosticSource and DiagnosticListener"
### Documentation Request
This needs clarification/direction.

### Previous documentation
As mentioned in #515

[2022-03-04 21:06] mikelle-rogers opened #2899 "Symbol and Source Indexing"
### Documentation Request
Needs clarification/direction

### Previous documentation
As mentioned in #515

[2022-03-04 21:07] mikelle-rogers opened #2900 "Diagnostic Port and Microsoft.Diagnostics.NetCore.Client"
### Documentation Request
Needs clarification/direction

### Previous documentation
As mentioned in #515

[2022-03-04 21:10] mikelle-rogers opened #2901 "Diagnosing CPU usage with dotnet-trace and VS"
### Documentation Request
(there is an [existing example](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/debug-highcpu?tabs=windows) but it uses PerfView which is harder for many customers to work with)

### Previous documentation
As mentioned in #515

[2022-03-04 21:10] mikelle-rogers opened #2902 "Writing a custom EventSource, capture with dotnet-trace, view with VS"

[2022-03-04 21:14] mikelle-rogers opened #2903 "E2E guide how to collect a dump and debug it with VS or LLDB"
Walkthrough: see #515

[2022-03-04 21:16] mikelle-rogers opened #2904 "Writing "fast" EventSource with WriteEventCore API "best practices"."

[2022-03-04 21:17] mikelle-rogers opened #2905 "Diagnosing managed memory leaks with dotnet-gcdump."
Walkthrough: see #515

[2022-03-04 21:17] mikelle-rogers opened #2906 "Diagnosing memory leaks with native leaks."

[2022-03-04 21:17] mikelle-rogers opened #2907 "Diagnosing threadpool starvation"
Walkthrough: see #515

[2022-03-04 21:20] mikelle-rogers opened #2908 "Using EventSource's Start/Stop opcodes - cover best-practices and potential caveats."
Walkthrough: see #515

[2022-03-04 21:20] mikelle-rogers opened #2909 "Counters "best practices" - when to use PollingCounter vs EventCounter, Incrementing vs non-Incrementing, thread safety, etc."
Walkthrough: see #515

[2022-03-04 22:23] #2898 closed

[2022-03-04 22:54] mikelle-rogers opened #2910 "Debugging dumps with cross-platform DAC."
Walkthrough: see #515

[2022-03-04 22:54] mikelle-rogers opened #2911 "Guidance on using PerfView/other perf visualization tools."
Walkthrough: see #515
Create documentation links to existing videos for perfview

[2022-03-08 01:16] hoyosjs commented on #2900
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-environment-variables#dotnet_diagnosticports mentions dotnet-monitor as the sole consumer of the port and it does so in a way that can be interpreted incorrectly. When the port documentation is done, it'd be good to just say "This variable is used to specify how to configure EventPipe's IPC channels, and this is a full explanation of how it

[2022-03-08 16:14] jkotas opened #2917 "dotnet-symbol fails with "ERROR: Sequence contains no elements""
### Description

1. Download coredump at https://microsoft-my.sharepoint.com/:u:/p/jkotas/EWyJxzU7aWpIvPqjBS1xh0sB-8LgkE5e9wa_BFVEzTIk8w?e=7ARUWq (this is coredump for https://github.com/dotnet/runtime/issues/66302 created by @premun).
2. Run `dotnet-symbols ./coredump`

Actual result:
ERROR: Sequence contains no elements

Expected results:
Symbols to be downloaded.

### Configuration

- Apple M1

[2022-03-08 17:24] tommcdon commented on #2917
@mikem8361 @hoyosjs

[2022-03-08 17:26] tommcdon commented on #2917
Possible duplicate to https://github.com/dotnet/symstore/issues/327

[2022-03-08 17:28] hoyosjs commented on #2917
As Tom said, it's a dupe of the symstore issue.

[2022-03-08 17:29] mikem8361 commented on #2917
Yes, this is a dup of that issue.  I have the fix, but ran into other problems with MacOS M1 dumps and haven't had time to investigate.

[2022-03-08 17:30] mikelle-rogers commented on #2881
Hello @danielo-unity3d, would you please clarify the motivation behind running dotnet-trace in automation? (How many processes are you tracing, where will you use this script, etc.) Understanding your motivation/purpose of running in automation will help us decide the best way to assist you.

[2022-03-08 18:59] mikelle-rogers commented on #2781
@larspars I have followed the video linked above and have been able to run dotnet-trace collect -p 2774 --duration 00:00:30 successfully.  Did you try running the following command to add dotnet-trace to the path? set path=%path%\UserProfile\.dotnet\tools

[2022-03-08 19:36] mikelle-rogers commented on #321
Hi @sebastienros, could you please provide me a repro? The above links lead to a "build not found" page.

[2022-03-09 17:44] danielo-unity3d commented on #2881
The motivation is to find a bug in our application, which fails to fully launch.

It hangs during startup when we call `ConfigurationBuilder().AddJsonFile` with `reloadOnChange: true`. We think the underlying file watchers are responsible, at least, this is what the stacks we have collected from hung processes show (but we need more data to understand the circumstances). Funny thing is that using

[2022-03-10 19:12] GrabYourPitchforks opened #2921 "SDL signoff requirements - please enable additional C/C++ compiler warnings"
Recent SDL changes require that we enable additional compiler warnings across our C/C++ projects. The requirements are:

* Compile with warning level 3 or higher. These warnings do not have to be fixed, but they must at least be triaged.
* Enable the following additional warnings, which __must__ be fixed if they occur:
  * __C4018__ - 'expression' : signed/unsigned mismatch
  * __C4055__ - 'conver

[2022-03-10 19:14] GrabYourPitchforks commented on #2921
I see that there was some previous work done as part of https://github.com/dotnet/diagnostics/pull/1047. What would be helpful here is to ensure that the proper warning level is set, that all required warn-as-error rules (listed above) are set, and that the audit string is present in the build system so that this can be independently verified via code review later.

Thanks!

[2022-03-10 20:52] mikelle-rogers commented on #2881
Which version of .NET SDK are you using?

Where are you running your process (e.g., desktop machine, kubernetes cluster, etc.)?

[2022-03-10 20:53] kdubau opened #2922 "LLDB expression causes MacOS app to crash (only when LLDB was attached)"
The prerequisite to create/build a ".NET for MacOS" app is to install the MacOS workload (which itself requires Xcode.app to be installed): `dotnet workload install macos`

### Repro steps
[code]
### Actual result
The MacOS app crashes, and LLDB gives this output:
[code]

<details>

<summary> LLDB output details</summary>

[code]

</details>

Here is the Apple crash report of the crashed app: http

[2022-03-10 21:00] rzikm opened #2923 "Access violation during dotnet-dump analyze"
### Description

I was trying to analyze a dump from dotnet/runtime CI: https://helixre8s23ayyeko0k025g8.blob.core.windows.net/dotnet-runtime-refs-pull-66038-merge-26f1b043d0324d2e9f/System.Net.Security.Tests/1/console.8ef8366e.log?sv=2019-07-07&se=2022-03-25T02%3A36%3A38Z&sr=c&sp=rl&sig=0Aplg90XxDDgeBfFVNJnh4eTIAAz6zU%2FDNymwnhV7UY%3D according to https://github.com/dotnet/runtime/blob/ce99c5658c

[2022-03-10 21:24] kdubau opened #2924 "CrashReport.json missing leading native frames on x64 MacOS 12"
This appears to only be an issues on x64 machines running MacOS 12.

It works correctly on:
- Arm64 on MacOS 12
- x64 on MacOS 11

Haven't explicitly tested all other combinations but, right now we suspect it's only an issue with x64 on MacOS 12.

### Repro steps

1. `dotnet new console`
2. Replace Program.cs with:
[code]

3. `dotnet build`
4. `export COMPlus_DbgEnableMiniDump=1`
5. `export COMPlu

[2022-03-11 12:19] larspars commented on #2781
@mikelle-rogers Yes. I tried again today, installing with `dotnet tool install -g dotnet-trace`, setting the path, running `dotnet-trace collect -p <...> --duration 00:00:30`, and it still prints `Unable to examine process.`.

I've seen others saying they're able to run this via Kudu without problem, so I figure something must be different with my environment. As far as I know, my App Service use

[2022-03-11 23:37] cshung opened #2929 "SOS is reporting a heap corruption error when it isn't"
### Description

I have a crash dump (unfortunately I cannot share publicly) that has a valid heap but is reporting a heap corruption error with `!VerifyHeap`, `!DumpHeap` or `!ListNearObj`.

### Configuration

The dump is an x86 process run on a machine with a single core on Windows.
The debugger is x86 WinDBG on Windows.

### Regression?

Probably not.

### Other information

When the runtime de

[2022-03-12 16:47] danmoseley opened #2933 "dotnet dump fails with "process has exited" but it hasn't"
I built dotnet/runtime main in release, then ran outerloop tests. It jammed with active CPU, so I tried to get a dump.

Running as admin (although it shouldn't matter - target process is not elevated)
[code]

cc @mikem8361

[2022-03-12 17:10] danmoseley commented on #2933
this is because after opening a handle to the process (with PROCESS_ALL_ACCESS) the call to GetExitCodeProcess returns not STILL_ACTIVE but 0.

[code]

Yet it still shows as ~15% CPU in task manager. I opened process explorer and it similarly showed the CPU varying around 15%, but when I tried to view threads in process explorer, the process finally terminated for real.

Any idea what happened her

[2022-03-13 03:43] Simonl9l opened #2934 "dotnet-counter console output corruption on resize"
### Description

If the `dotnet-counters` is launched for a process that has a number of custom metrics the displayed output be longer than the open console.

If attempts are then made to expand the length of the console the output is corrupted. with metrics instrument values show bad value till they are updated.

Also when those instruments have varying Measurement version (different metadata Key

[2022-03-13 16:30] mikem8361 commented on #2933
I'm not sure what is going on here.  This code is just trying to get the handle from a Process object to call the native dbghelp!MiniDumpWriteDump. @dotnet/dotnet-diag does anybody know what might be happening here?

[2022-03-13 19:03] danmoseley commented on #2933
If I encounter this again I'll try procdump or similar to get an "external" dump and perhaps get a clue. Perhaps Windows folks can tell us whether it's expected that a process can be in this state.

[2022-03-16 03:33] danmoseley commented on #2933
aha, hit it again and this time got a dump from task manager. it's got one thread left, and it's stuck here
[code]

This `mso20win32client` seems to have injected itself into the process - it's part of office: C:\Program Files\Common Files\Microsoft Shared\Office16\mso20win32client.dll. I do not know why. It seems to have registered itself with the CRT to be called on exit. Something caused kernel

[2022-03-16 03:39] danmoseley commented on #2933
it seems this thread is waiting on
[code]
which apparently got orphaned. I can't get more info from !locks:

[code]

[2022-03-16 15:50] tommcdon commented on #2933
Thank you @danmoseley!

Yes this looks like a runtime issue and I'll move this over.

Yes, please do share the dump if possible.  It might be possible to create a repro based off of your analysis but the dump might be all that is needed and lead to a possible fix for this issue faster.

[2022-03-17 18:31] nsmithdev commented on #2212
I'm getting this same problem when trying to run dotnet-counters thru "Windows Admin Center" powershell prompt.
It would be amazing if that worked.

Being able to just drop a single capture of the display formatted text to the console or a file would be a nice workaround.

[2022-03-18 01:50] VincentBu opened #2946 "Command 'dotnet-xxxx ps' throws exception on Windows-x64"
**Description:**
command `dotnet-xxxx ps` throws exception. It only occurs on Windows-x64 and seems to be not related to .NET SDK version(throw exception both with .net core 3.1 and .net 7).

Version of diagnostics tools: 6.0.316101/6.0.315701

**Error message:**
[code]

[2022-03-18 02:03] VincentBu opened #2947 "sos commands `eestack` & `dumpstack` crashed with .net 7.0"
**Description**
sos commands `eestack` & `dumpstack` crashed on Debian10-arm32 with 7.0.100-preview.3.22165.18

**Error Message:**
[code]

[2022-03-18 07:15] Banyc opened #2948 "[API Proposal]: provide profiling api like pprof of Go"

[2022-03-18 15:02] tommcdon commented on #2948
@wiktork @josalem @noahfalk

[2022-03-18 16:24] josalem commented on #2947
@mikem8361

[2022-03-18 16:54] jeffschwMSFT commented on #2948
@tommcdon what area-* path do you recommend for this issue if not diagnostics-coreclr?

[2022-03-18 17:31] cshung commented on #2929
#2949 should have fixed the `!DumpHeap` command for this situation.

[2022-03-18 23:38] mikelle-rogers commented on #2946
@VincentBu will you please provide some more details on your environment? I am on Windows-x64 and tried both Versions of diagnostics tools: 6.0.316101/6.0.315701 but was unable to reproduce the exception.

[2022-03-19 01:08] danmoseley opened #2950 "dotnet-dump should get process handle directly with OpenProcess"
Per discussion in https://github.com/dotnet/runtime/issues/66715 -- the managed Process type can not be used to get the handle for a process that is in the process of exiting such that it has set an exit code, but not actually exited. This is because for compat reasons the Process class will throw in these circumstances.

Since dotnet dump should be able to take a dump of processes in such a state

[2022-03-21 03:34] VincentBu commented on #2946
Hi @mikelle-rogers , here is the output of `dotnet --info`:
[code]
I'm using .NET SDK 7.0.100-preview.3.22165.18 for diagnostics tools and still get exception.  Feel free to let me know if you want more details.

[2022-03-21 18:54] mikelle-rogers commented on #2881
@danielo-unity3d, this seems like an issue unique to Windows, in order to accomplish your request, we may need to add some functionality to the tools in Windows. We have added the enhancement tag and will track this request.

Suggestions going forward: creating a new tool for Windows (or adding the feature onto dotnet-trace) that uses the [Stop method from the EventPipe Providers class](https://do

[2022-03-21 20:14] CarnaViire opened #2954 "dotnet-trace: unhandled exception results in a broken trace"
### Description

Unhandled exception in a program results in a broken trace collected by `dotnet-trace`. (If I catch the exception, the produced trace is OK)

Steps to reproduce:
1) Run a program via `dotnet run -c release`
2) Start collecting the trace via `dotnet-trace collect -p <PID>`
3) At some point the program throws an unhandled exception and exits
4) `dotnet-trace` exits too, says `Trace

[2022-03-22 02:40] AndyAyersMS commented on #2877
I think I just ran into this too. I only had ARM64 .NET 7P2 installed; ran `dotnet tool install --global dotnet-sos`, and then `dotnet-sos install` failed looking for libhostxfer.dylib on an x64 path (or something like that, don't have the exact text anymore).

[2022-03-22 02:52] mikem8361 commented on #2877
@AndyAyersMS you need to edit your /etc/dotnet/install_location file if it isn't obvious from the comments.

[2022-03-22 02:56] mikem8361 commented on #2877
And you need the `--arch arm64` option on the `dotnet-sos install` command.

[2022-03-22 07:05] mikem8361 opened #2955 "Fix DebugServices.UnitTests VersionData failures"
Fix the underlying problem where the binary can not be reliably downloaded in order to map into the address space to find the special version string on Linux or the PE version resource on Windows.

[code]

Remove the code used by the DebugServices.UnitTests in TestDataReader.cs around line 310 that makes these failures a warning instead of an error.

[2022-03-22 15:23] #2929 closed, assigned to nobody

[2022-03-22 22:06] mikelle-rogers commented on #2954
Hi @CarnaViire, that is expected behavior. To understand what causes the exception, please set the environment variable `COMPlus_DbgEnableMiniDump = 1`, as explained [here](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dumps). This will cause a dump to be collected when the program throws the exception. Feel free to reach out with any questions!

[2022-03-22 22:15] mikelle-rogers commented on #2946
Hi @VincentBu, thank you for the information, I have been using it to try and reproduce this problem, but have not been successful yet. Would you please provide a step by step explanation of exactly how you are running dotnet-tool ps and/or a dump for us to look at?

[2022-03-22 22:19] mikelle-rogers commented on #2781
@larspars Thank you for your response. Would you please send me the output of running `dotnet --info` in Kudu?
In addition, are you using Kudu for Linux or Windows? The more information you can send about your environment, the better.

[2022-03-24 00:12] mikem8361 commented on #2877
I added @hoyosjs because he is going to fix this as part of other hosting problems on M1.

[2022-03-24 00:23] hoyosjs commented on #2877
To be fair, Andy's problem is something different - it has more to do with our tools being 3.1 roll forward based apps and macOS signing issues... This can both solve the /etc issue and improve the diagnostic message.

[2022-03-24 00:47] mikem8361 commented on #2877
His initial message seems to be about install_location and hosting problems. I tried dotnet-sos install on our M1 and it installs the arm64 sos bins even though it is rolling over.

mikem
________________________________
From: Juan Hoyos ***@***.***>
Sent: Wednesday, March 23, 2022 5:23:11 PM
To: dotnet/diagnostics ***@***.***>
Cc: Mike McLaughlin ***@***.***>; Assign ***@***.***>
Subject: Re: [do

[2022-03-24 01:13] AndyAyersMS commented on #2877
I should be able to get my machine back in this state to repro if you want the exact failure message.

Something like:
* Uninstall dotnet-sos
* Uninstall all versions of .NET
* Install only .NET 7 P2 ARM64
* Install the dotnet-sos tool
* Try and run dotnet-sos

That should fail.

It will work if I also install x64 .NET version (which runs only because I've also enabled rosetta).

So I though the i

[2022-03-24 06:22] VincentBu commented on #2946
Repro Steps:
1. download `dotnet-install` script with `Invoke-WebRequest https://dotnet.microsoft.com/download/dotnet/scripts/v1/dotnet-install.ps1 -OutFile dotnet-install.ps1`;
2. install .NET SDK by running `./dotnet-install.ps1 -InstallDir .dotnet-test -Version 5.0.407-servicing.22165.14`;
3. install diagnostics tools:
[code]
4. run `dotnet-counters ps`

Additionally, running `dotnet-counters p

[2022-03-24 10:05] larspars commented on #2781
@mikelle-rogers Thanks for the response, this pointed me in a direction that allowed me to solve the problem. The output `dotnet --info` was the following:

[code]

I noticed the RID: win10-x**86**, and the path Program Files (x**86**). However, the app is x64.

So the dotnet.exe I was running was from `Program Files (x86)`, and there's another one in `Program Files` which outputs RID: win10-x64.

[2022-03-24 21:18] hoyosjs commented on #2877
I am able to repro this issue. It stems from dotnet tool install adding an x64 shim which forces the process to run under emulation and we don't have an x64 runtime install, so your hunch is correct. A workaround is doing `dotnet ~/.dotnet/tools/.store/dotnet-sos/6.0.317201/dotnet-sos/6.0.317201/tools/netcoreapp3.1/any/dotnet-sos.dll install` (adjusting the version). This is because of how global-

[2022-03-24 21:37] am11 commented on #2877
with `-a arm64` it should install the correct binary.

[2022-03-24 21:41] hoyosjs commented on #2877
Yup - and that's the part I don't know if I have much control over. Do you know if there's a corresponding issue in the SDK? And I don't think packing our own shim would help at all.

[2022-03-24 21:47] hoyosjs commented on #2877
Mike also reports he never needed the arch parameter using 6.0.103. Can't say I've ever been able to skip that much

[2022-03-24 22:29] am11 commented on #2877
There is a related discussion: https://github.com/dotnet/installer/issues/12187. Initial part of that thread is about `-a`, which now works fine but the control over default architecture selection for tool author, it is unknown.

After some debugging, it turned out we are hitting this condition: https://github.com/dotnet/sdk/blob/63ab18fd09e5976a44e9f0b43c228ab19e819666/src/Cli/dotnet/ShellShim/Sh

[2022-03-24 22:40] am11 commented on #2877
https://github.com/am11/diagnostics/commit/0455de59b8eb77a4f15f1a060836c6e1ed6e0c5a

[2022-03-24 23:40] hoyosjs commented on #2877
We've discussed about the .NET 6 tfm part for a bit for a few different reasons. This would be needed for pretty much all the tools. The reason 3.1 is a thing in our tools is because it's the lowest runtime we support and then we roll-forward. We didn't want customers who have 3.1/5.0 deployments to need to install multiple runtimes. I prefer multi-targeted tools as you have, but then we are shipp

[2022-03-25 01:39] hoyosjs commented on #2877
The reason for this to have worked when using 6.0.103

This check: https://github.com/dotnet/sdk/blob/9ed058a5b316227f0bcee8fbba37901a77f3625a/src/Cli/dotnet/ShellShim/ShellShimTemplateFinder.cs#L41-L44

https://github.com/dotnet/sdk/blob/release/6.0.1xx/src/Cli/dotnet/ShellShim/ShellShimTemplateFinder.cs#L41-L44

Also, somehow on 6.0.103 the TFM is empty so it goes down the default path

[2022-03-25 02:23] hoyosjs commented on #2877
https://github.com/dotnet/sdk/blob/6edc23ae7ab92121c3e50c46be759bc0607fe076/src/Cli/dotnet/commands/dotnet-tool/install/ToolInstallGlobalOrToolPathCommand.cs#L136-L149

This is why on 6.0.201 it's not empty... @sfoslund is this something that needs to be ported to 6.0.1xx? Right now the behavior is inconsistent and sort of confusing.

[2022-03-25 03:21] #2950 closed

[2022-03-25 14:20] CarnaViire commented on #2954
Hi @mikelle-rogers -- But what is the reason why the behavior is like this?
For example, there were situations where I don't need the dump on the exception, but I care about traces/logs of the behavior that led to this exception. Imagine frustration if you e.g. managed to capture some rare race condition on the trace and then you cannot load it because the trace became broken...

It might be also

[2022-03-26 00:58] hoyosjs commented on #2877
Sorry - realized she's no longer in the team. Maybe @marcpopMSFT can help reroute to the appropriate folk.

[2022-03-26 06:56] am11 commented on #2877
Ideally, `dotnet tool install` should take the case of RuntimeOptions.RollForward into account [here](https://github.com/dotnet/sdk/blob/63ab18fd09e5976a44e9f0b43c228ab19e819666/src/Cli/dotnet/ShellShim/ShellShimTemplateFinder.cs#L41-L44) (rather than solely relying on package's major version).

[2022-03-27 01:18] stephentoub commented on #530
I've rewritten dumpasync in C# and I added a parallel-stacks-like option.

[2022-03-27 01:24] hoyosjs commented on #2877
It's a finicky argument. Half of the users want "use the real TFM, and then roll if it isn't there." The other ones want "Let it be the latest". The SDK seems to always choose to line with the latter mentality, which is dangerous for back compat. If we do that, emulation tools will no longer work, even if they have a 3.1 version of the runtime installed. Single entry shim is sticky here.

[2022-03-27 03:04] stephentoub commented on #528
I've rewritten dumpasync in C# and I've addressed this as well (or at least the simpler repro successfully connects the stacks... I didn't try the original).

[2022-03-28 11:53] Trivedi-Ashish commented on #1125
Thank you for clarification.
Just a follow up question, I see that Metrics API is also supported in .NET framework 4.6.1 or later versions, so what tools are available to see the metrics for apps targeting .NET framework 4.6.1 if one chooses to use Metrics API in it?

[2022-03-28 14:51] stephentoub commented on #533
I have a fix for this one as well.

[2022-03-30 16:35] mikelle-rogers commented on #2923
Hi @rzikm you can ping me on teams and send me the dump.

[2022-03-30 21:10] mikelle-rogers opened #2970 "dotnet-counters monitor on Windows powershell and cmd prints various incorrectly formatted outputs"
### Description

Open new cmd prompt on Windows.
Run dotnet-counters ps
Run dotnet-counters monitor -p <pid>

OR

Open new PowerShell instance
Run dotnet --info
Run dotnet-counters monitor -p <pid>

### Configuration

For cmd prompt and PowerShell:
Tool version 6.0257301
.NET SDK (reflecting any global.json):
 Version:   6.0.201
 Commit:    ef40e6aa06

Runtime Environment:
 OS Name:     Windows
 O

[2022-03-30 23:06] mikelle-rogers commented on #2934
Hi @Simonl9l, would you please provide me with a reproduction of the scenario you experienced?
I have root caused some other rendering issues dotnet-counters has, and with that fix, I ran a counters session like you described. I made my console short, I then ran dotnet-counters with a number of custom metrics that caused displayed output be longer than the open console. I then expanded the length

[2022-03-31 16:48] hoyosjs commented on #2877
Closing this one for now as the tfm issue is separate. The hosting changes for runtime detection are in.

[2022-03-31 16:49] #2877 closed

[2022-03-31 20:50] #2908 closed

[2022-04-01 04:28] am11 commented on #2877
.NET 5 will be out of support in about a month .NET 3.1 in December 2022. It now makes more sense to start targeting net6.0 TFM for the future version of packages (that will mitigate the SDK bug or by-design-strange-behavior).

[2022-04-01 04:51] hoyosjs commented on #2877
5.0 we will drop in a bit. 3.1 will likely be there for a while nonetheless, this gets a fair amount of use for analysis in prod scenarios.

[2022-04-01 08:45] rzikm commented on #2923
Hi, I'm afraid I don't have these dumps anymore, however, I think I know where is the problem, the address I passed to `gcroot` was the address of the reference on the stack instead of the address of the object on the heap.

[2022-04-04 02:20] #2970 closed

[2022-04-04 11:33] sebdau opened #2973 "Dotnet-dump analyze shows "unknown" function name for my application symbols - public symbols resolve"
### Description

Dotnet-dump analyze (as well as lldb) show "unknown" function name for our application symbols.
Symbols of dotnet core and other public libs loaded in the dump are working.

### Example Output:
[code]

### Configuration

Dump taken from .NET core 3.1 LTS on ubuntu 18.04 LTS.
Dump analyzed at Ubuntu 18.04 LTS (WSL2) using
- dotnet-dump 6.0.257301+27172ce4d05e8a3b0ffdefd65f073d40a1b

[2022-04-04 17:53] hoyosjs commented on #2946
That last error is because https://github.com/dotnet/diagnostics/blob/d138bcf99369fcde2d80024dc80633e7940544be/src/Tools/Common/Commands/ProcessStatus.cs#L103 there's no processes that we collect info about. @mikelle-rogers, can you please submit a patch for that one?

[2022-04-04 17:55] hoyosjs commented on #2973
You need not only the PDBs but also the PE (dlls) as those have the metadata if the dump is not a full dump.

[2022-04-04 19:03] danmoseley opened #2976 "dotnet-dump should show error message for OS errors"
As a minor issue, it would be an improvement if dotnet-dump would include the message string when there's an error from a system API. This string can be gotten with `new Win32Exception(err).Message`
[code]

[2022-04-04 19:07] danmoseley opened #2977 "dotnet-stack should filter out itself"
[code]

[2022-04-04 19:15] danmoseley opened #2978 "sos messages should not assume windbg context"
If I'm running in the context of dotnet dump analyze, the messages will lead me off track. For example:
[code]

[2022-04-04 20:42] hoyosjs commented on #2977
hmm, that's odd - we filter that out. What version are you using?

[2022-04-04 21:01] danmoseley commented on #2977
Sorry, I should have mentioned this is current 6.0 one. But the lines above seem like they should be in there - hmm
[code]
and on another machine
[code]

[2022-04-04 21:03] danmoseley commented on #2977
Hmm, I verified it is using this one
C:\USERS\DANMOSE\.DOTNET\TOOLS\.STORE\DOTNET-STACK\6.0.257301\DOTNET-STACK\6.0.257301\TOOLS\NETCOREAPP3.1\ANY\DOTNET-STACK.DLL

which per ILSPY contains that code.

[2022-04-04 21:08] danmoseley commented on #2977
Ah, I see the bug. It works if I do "dotnet-stack ps". If I do "dotnet stack ps" it filters out "dotnet-stack.exe" but isn't aware of its parent dotnet.exe. It needs to find that and filter it.

It needs a little pinvoking and checking the process start time as there's no managed API currently: https://github.com/dotnet/runtime/issues/24423

[2022-04-04 21:22] sebdau commented on #2973
I've run another test with pdb and dll placed into one directory along with the dump. It still shows unknown.

[2022-04-04 23:58] #2946 closed

[2022-04-05 16:29] danmoseley opened #2982 "Visual Studio stacks elide some CLR frames in mixed mode"
In a particular dump I see these frames in windbg:

0:005> ~~[0xb60].  5  Id: a38.b60 Suspend: 0 Teb: 7efa9000 Unfrozen      Start: coreclr!ThreadNative::KickOffThread (73344d30)      Priority: 0  Priority class: 128  Affinity: f0:005> kp # ChildEBP RetAddr      00 0829f448 75221629     ntdll!ZwWaitForSingleObject(void)+0x15 [d:\win7.obj.x86fre\minkernel\ntdll\wow6432\objfre\i386\usrstubs.asm @ 13

[2022-04-05 16:48] mikem8361 commented on #2973
How did you generate the core dump? With `dotnet-dump collect` or "createdump" either app crash with COMPlus_DbgEnableMiniDump=1 set? Are your app PDBs and DLLs that you put in the same directory as the core dump the exact version used to generate the dump?  SOS does check the timestamp of the DLLs when searching for the DLL to get the metadata.

[2022-04-05 20:07] danmoseley commented on #2982
cc @AaronRobinsonMSFT because this is something he expressed an interest in...

[2022-04-05 21:38] AaronRobinsonMSFT commented on #2982
/cc @gregg-miskelly @chuckries @auott

[2022-04-05 21:49] gregg-miskelly commented on #2982
Yup, mixed mode debugging in VS doesn't let you do anything with coreclr.dll/clr.dll. This is because:
1. The architecture of mixed mode debugging very deeply doesn't let you debug the runtime itself
-and-
2. coreclr/clr show up on stacks regularly, mostly for reasons that users don't care about, but we don't know about the cases where this isn't true.

The first issue is an unsolvable issue witho

[2022-04-05 22:04] mikelle-rogers commented on #2923
cc: @mikem8361 Do you know how we could repro this?

[2022-04-05 22:12] mikem8361 commented on #2923
I have no idea since the dumps are not available.

[2022-04-05 22:24] mikem8361 commented on #2923
It looks like a possible fix (for 7.0) would be to check if pEEClass is NULL [here](https://github.com/dotnet/runtime/blob/3a25a7f1cc446b60678ed25c9d829420d6321eba/src/coreclr/vm/methodtable.cpp#L506) and return FALSE if so.

[2022-04-05 22:50] #1737 closed

[2022-04-05 22:57] danmoseley commented on #2982
Yes, definitely not suggesting we need to debug CLR in mixed mode. Just that some hint when to drop to Windbg would make it easier to start with VS. A marker like `[.NET runtime frames]` perhaps, in mixed mode only?

[2022-04-05 23:16] mikelle-rogers commented on #382
@josalem I went through the help text of each of the commands dotnet-counters can do, and each of those commands, when they used the -h to ask about the specific command, already had something about the necessary option -p. I think that this can be closed...

[2022-04-05 23:19] gregg-miskelly commented on #2982
I think DBI would need to tell us when the CLR frames are "interesting" vs things that are they just because you are debugging (ex: exception hijack). But if that is feasible for the DBI to know, it sounds like it wouldn't be too hard to implement.

[2022-04-06 01:32] hoyosjs commented on #2977
Makes sense. When we do this we just need to make sure this is filtering just dotnet stack <args> invocation and not any managed invocation of the native dll.

[2022-04-06 19:06] mikem8361 commented on #2821
Are you still having this issue?  We haven't heard from you about the `modules` list.  If you are still having issues and can provide the dump or more info please reopen this issue.

[2022-04-06 19:06] #2821 closed

[2022-04-06 19:25] mikem8361 commented on #2438
The C++ runtime enumeration fallback code will work for Windows single-file because it uses GetOffsetBySymbol to find export.

[2022-04-06 19:25] mikelle-rogers commented on #382
The help text available in dotnet-counters has all available options

[2022-04-06 19:25] #382 closed

[2022-04-06 19:25] #2438 closed

[2022-04-06 20:28] mikelle-rogers commented on #2781
@larspars I have reproduced the "unable to examine process." message. I am currently looking into where that is printed.

[2022-04-06 21:03] noahfalk commented on #2906
I'll take it and figure out what to do with it.

[2022-04-06 22:36] mikelle-rogers commented on #2954
@CarnaViire Thank you for voicing your concerns, the trace is truncated because when an unhandled exception is hit by the runtime, the runtime rips apart immediately to prevent breaking other parts of the program. This includes closing the socket/NamedPipe that the trace is being streamed over.

Even though the trace is broken, it can still be opened to see what happened leading up to the failure,

[2022-04-07 00:49] noahfalk commented on #2445
Docs added https://github.com/dotnet/dotnet-api-docs/pull/7924

[2022-04-07 00:49] #2445 closed

[2022-04-07 07:31] Fresa opened #2989 "Run tests with dotnet trace"
I haven't seen any example or documentation describing how to run tests via dotnet-trace, something like:
`dotnet trace collect -- dotnet test`

It only collects traces for the test runner I believe not the actual tests executed.

Would be great to have such capabilities, similar to [JetBrains dotTrace CLI tool](https://www.jetbrains.com/help/profiler/Performance_Profiling__Profiling_Using_the_Com

[2022-04-07 09:36] jakobbotsch opened #2992 "Improve SOS diagnostics for OSR methods"
It would be very useful if SOS reported either IL offsets or IP for the patchpoint that was triggered in the output of `dumpmd`/`ip2md`. Otherwise it is very hard to reconcile the codegen seen in these methods with the original IL. In dotnet/runtime#66983 I ended up tracking this down by doing several pointer searches through memory to find the key of the `PerPatchpointInfo` structure.

cc @AndyAy

[2022-04-07 10:56] sebdau commented on #2973
Dump was collected with createdump --full.

I've traced back the actual dll and pdb gets build multiple times during our official build phase and the one deployed with the service fabric package had indeed a different time stamp.
Once I placed bin and pdb from code package symbols resolve but line numbers are still missing:
00007FFD2937CC30 00007F0E8F184504 MyLib.MyClass.Program.<Main>(System.Stri

[2022-04-07 15:44] tommcdon commented on #2992
@mikem8361

[2022-04-08 00:22] josalem opened #2994 "dotnet-trace topn report can misprint method names"
https://github.com/dotnet/diagnostics/blob/79367ef142b038f9b2b05598b4a7215a1e295783/src/Tools/dotnet-trace/CommandLine/PrintReportHelper.cs#L28-L54

Notably, this code assumes all functions look like the regex, but functions in a trace could show up as `?!?` if there aren't symbols available. This results in an empty line in the output.

[code]

I added some logging to the above sample, and it sho

[2022-04-08 03:51] hoyosjs commented on #2994
Doesn't perfview have an option to expose the address of the method? Printing that here could be useful instead of ?!?

[2022-04-08 06:37] noahfalk commented on #2608
Fixed! https://github.com/dotnet/dotnet-api-docs/pull/7925

[2022-04-08 06:37] #2608 closed

[2022-04-08 18:41] mikelle-rogers commented on #2994
Are there any other ways functions can show up as in a trace besides `?!?` and the regex?

[2022-04-08 23:09] josalem commented on #2994
Theoretically, yes, but EventPipe traces only contain managed code for now.

If you wanted to generalize it, you'd need to also be able to handle native frame encoding which is typically `module!class::or::namespace::hierarchy::methodname(...)`, e.g., `coreclr!EventPipeAdapter::ep_enable()`. That's where `?!?` comes from: unknown module and unknown symbol.

I'm not sure that's worth the time right

[2022-04-09 19:22] Simonl9l commented on #2934
@mikelle-rogers apologies, its been a tad busy my end, thanks for looking a this.

Does this help ?
<img width="733" alt="image" src="https://user-images.githubusercontent.com/66816457/162588741-8e8267aa-00bb-4c4d-bf16-bf41930d9e64.png">

Confirming that is set to be on dotnet 7, or is this going t be related on Nuget anything soon.

[2022-04-11 01:18] alexrp opened #2996 "Question: Long term plans for Microsoft.Diagnostics.NETCore.Client and profiler API?"
Hi,

I'm looking into the various diagnostic APIs/mechanisms provided by CoreCLR and came across the Microsoft.Diagnostics.NETCore.Client package. It seems to me that `DiagnosticsClient` sort of exposes a subset of the functionality provided on `ICorProfilerInfo`, though with some methods being curiously absent (e.g. there's `ResumeRuntime` but no `SuspendRuntime`).

This made me wonder: What are

[2022-04-11 09:14] AndiRudi opened #2997 "Failed to find runtime module (libcoreclr.dylib), 0x80004002"
### Description

I have installed `dotnet dump` and tried to create dumps and analyze them with our web application on mac. The dumps are created just fine, but when I want to analyze them I always get the following error (for any command):

[code]

I also created a new dotnet web application, started it and created a dump and analyzed it and it's the same issue.

I read all FAQ but didn't find ex

[2022-04-11 09:23] am11 opened #2998 "Suggestion: convert sosplugin commands to sub-commands of `sos` command"
Currently, some SOS commands are ambiguous and slightly confusing from UX viewpoint. An example is `registers` command with alias `r`; in lldb, `r` is reserved for `run` command so this alias does not get overridden when sosplugin is loaded. Also, `register` (singular) is a built-in command so users have to remember to pluralize if they intentionally wanted to execute the one out of sosplugin.

It

[2022-04-11 10:54] am11 opened #2999 "Soshelp does not show available switches"
When working with sosplugin in lldb, neither `soshelp` nor `help <sos-command>` display available switches. e.g. `help clrstack` could indicate that `-f` shows stacks from all frames (option which is also missing in [docs](https://docs.microsoft.com/en-us/dotnet/framework/tools/sos-dll-sos-debugging-extension#commands)), `-a` is a composite fo `-l` and `-p` etc.

[2022-04-11 10:59] kdubau commented on #2824
@sgmunn @Therzok I thought this was fixed?

[2022-04-11 11:03] am11 commented on #2998
One nice feature of top-level commands in lldb is TAB-completion. For sub-commands, it can be implemented using [`m_interpreter.HandleCompletion`](https://github.com/llvm/llvm-project/blob/ceadf6ee619ce610b269459b129996c4ac7173cb/lldb/include/lldb/API/SBCommandInterpreter.h#L173-L196) API (which appears to be also available in our minimum supported lldb version as well: https://github.com/llvm/llv

[2022-04-11 16:47] mikem8361 commented on #2973
The PDB timestamp/filesize needs to match so we get the correct PDB (and we get the correct line/source info) when searching the search directories and is required when dotnet-dump needs to download from a symbol server.  The symbol search path (displayed/set with the setsymbolserver command) can have multiple search directories and symbol servers even though the default is just the core dump dire

[2022-04-11 18:09] moomiji opened #3003 "'dotnet-dump analyze' crashes when loading core dump"
### Description

[code]

### Configuration

Running in Container (mcr.microsoft.com/dotnet/sdk:6.0.201-alpine3.14-arm64v8).
[code]

[2022-04-11 18:09] hoyosjs commented on #2824
I ported the fix to 6.0; would just need validation on 6.0.3

[2022-04-11 20:07] mikelle-rogers commented on #2994
@hoyosjs @josalem would you please point me in the right direction of where to find perfview's option to expose the address of the method?

[2022-04-12 09:55] Li7ye opened #3009 "How to get the memory size of value type correctly in Windbg with SOS extension?"
I defined an empty value type in .Net6 as below:
`  struct EmptyValueType{}`

I use `sizeof(EmptyValueType)` to get memory size in code. The result is 1 byte.

I try to use Windbg to get memory size for `EmptyValueType` as below:

1. new `EmptyValueType` in Program.cs of console app
[code]
2. Launch Windbg to debug the console app
3.  `!dso` command to find all stack obj and `!DumpObj` command to

[2022-04-12 21:25] tommcdon commented on #3009
@mikem8361

[2022-04-13 01:35] noahfalk commented on #616
I think this is already complete https://docs.microsoft.com/en-us/dotnet/core/diagnostics/eventpipe#trace-using-environment-variables

@hoyosjs - go ahead and close it you agree

[2022-04-13 01:47] hoyosjs commented on #616
Actually - nevermind. That points to dotnet-trace as the preferred mechanism which has https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-trace#use-diagnostic-port-to-collect-a-trace-from-app-startup and mentions it. I think there's enough breadcrumbs and no need for image dupe everywhere.

[2022-04-13 01:47] #616 closed

[2022-04-13 23:38] mikelle-rogers commented on #3003
@moomiji Thank you for reporting this issue. We are working through issues and will look into this one as soon as possible.

[2022-04-14 03:36] #2923 closed

[2022-04-14 04:20] #528 closed

[2022-04-14 04:20] #530 closed

[2022-04-14 04:20] #533 closed

[2022-04-15 18:03] #2781 closed

[2022-04-15 21:56] #2900 closed

[2022-04-15 22:36] hoyosjs commented on #3009
This one might be interesting - there's no out-of-the-box way to get it. As you say, the address you have there is the box. DSO and DumpObj will only work if they are ref types, not value types. And every object has a minimum of 24 bytes in .NET x64 - hence what you see there. `DumpClass` also assumes that you are dealing with an object... In general, `DumpVC` will give you a better idea.

But you

[2022-04-15 22:36] #3009 closed

[2022-04-15 23:10] mikelle-rogers commented on #2909
Per a discussion, the team has decided this documentation has already been done.

[2022-04-15 23:10] #2909 closed

[2022-04-16 01:47] Li7ye commented on #3009
@hoyosjs Thanks for you comment. You are my pointer 💯

[2022-04-18 21:13] #603 closed

[2022-04-18 21:33] #2899 closed

[2022-04-18 21:39] mikem8361 commented on #2246
Juan, I think https://github.com/dotnet/diagnostics/issues/2861 will be part of this work.

[2022-04-18 21:46] mikem8361 commented on #2246
This is from issue #2861:

We got this feedback below on our dump debugging docs. We should make some improvements.

For example, [Debug Linux dumps | Microsoft Docs](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/debug-linux-dumps) does not set the expectation - which of the methods produce a dump that can be analyzed on Windows? It implies that only one method allows that: The [dotnet-

[2022-04-18 21:47] #2861 closed

[2022-04-20 00:08] mikelle-rogers commented on #2095
@noahfalk I asked you about distributed tracing earlier and you mentioned it was done, does that mean that this is done as well?

[2022-04-20 00:59] noahfalk commented on #2095
This part isn't done, but I marked it 'Future' because I don't think going into this level of detail is a priority right now.

[2022-04-20 23:39] #188 closed

[2022-04-20 23:57] mikelle-rogers commented on #881
Closing this issue because it has been transferred to the [issue](https://github.com/microsoft/perfview/issues/1622) in the PerfView repository

[2022-04-20 23:57] #881 closed

[2022-04-21 00:36] #804 closed

[2022-04-22 19:49] interwhy opened #3025 "Perfcollect doesn't support .NET 6 fully"
### Description

There are a several issues here, let me know if you'd rather I create separate issues for each.

The perfcollect script at https://aka.ms/perfcollect doesn't support .NET 6 properly.

- For symbols, it uses crossgen which isn't shipped with .NET 6 and doesn't support using crossgen2 in it's place. (For .NET core 3.1, we'd copy crossgen from `$(NuGetPackageRoot)/microsoft.netcore.a

[2022-04-22 21:31] tqinli commented on #3025
I think with PGO on, the above mentioned perf inject command never finishes and the resulting /tmp/perf-1.map contains multiple different generated function names for the exact same address over and over again while perf inject is stuck in this state:

[code]

[2022-04-23 06:49] davidfowl opened #3026 "Add more profiles for dotnet trace with known .NET events"
## Background and Motivation

We should expand the list of known profiles to include networking and ASP.NET Core events.

## Proposed Feature

https://github.com/dotnet/diagnostics/blob/c13a550fd8135e031678015743557ea2a543403f/src/Tools/dotnet-trace/CommandLine/Commands/ListProfilesCommandHandler.cs#L43

We should have networking and ASP.NET Core. I'm thinking that aspnetcore would encapsulate:
-

[2022-04-23 11:40] MihaZupan commented on #3026
There's also `System.Net.NameResolution` on the runtime`s side

[2022-04-23 14:38] davidfowl commented on #3026
Added it.

[2022-04-24 01:13] tommcdon commented on #3026
@josalem

[2022-04-25 18:16] #2994 closed

[2022-04-25 20:55] mikelle-rogers opened #3029 "DiagnosticSource and DiagnosticListener"

[2022-04-25 22:01] #1166 closed

[2022-04-25 22:33] noahfalk opened #3030 "dotnet-stack report hangs when run in a directory without write permissions"
### Description

The dotnet-stack report command attempts to create a temporary trace file in the current directory (https://github.com/dotnet/diagnostics/blob/main/src/Tools/dotnet-stack/ReportCommand.cs#L41 + https://github.com/dotnet/diagnostics/blob/main/src/Tools/dotnet-stack/ReportCommand.cs#L85) which implicitly assumes the current directory is writable. When the tool is run in a directory

[2022-04-25 22:35] noahfalk commented on #3030
Btw, the way I hit this is using the "Developer Command Prompt for VS" which defaults to a path like this: "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community" which isn't writable.

[2022-04-25 23:33] mikelle-rogers commented on #2934
@Simonl9l the new tools have been released. Will you please uninstall dotnet-counters (`dotnet tool uninstall --global dotnet-counters`) install dotnet-counters again, which by default installs the most recent version (`dotnet tool install --global dotnet-counters`), try locally reproducing your problem and let me know what happens?

[2022-04-26 00:07] mikem8361 opened #3032 "The "setsymbolserver -ms" added to the .lldbinit by dotnet-sos fails"
### Description

The "setsymbolserver -ms" added to the .lldbinit by dotnet-sos fails because the symbol service wrapper class needed by the C++ setsymbolserver command is per target and the target hasn't been created yet when the .lldbinit file is processed.

The fix is to port the setsymbolserver command to C# which will use the global ISymbolService remove the target dependency.

### Configurat

[2022-04-26 01:39] #2824 closed

[2022-04-26 02:04] hoyosjs opened #3033 "Ensure all tools properly surface connect and listen semantics for diagnostic ports"
# Runtime in connect mode

- [ ] dotnet-dump - not very relevant until dumping can be done through trigger or other deferred action.
- [x] dotnet-trace - Currently used for scenarios such as startup tracing and assembly load diagnostics
- [ ] dotnet-counters - Doesn't seem as valuable, other than to be able to monitor if it was started in said mode already - likely as a result of tracing.
- [ ] do

[2022-04-26 10:19] SharryXu commented on #3032
Hi @mikem8361 ,

Is this bug cause the "**setsymbolserver -directory /directory/to/the/symbols**" failed on latest Ubuntu 22.04 (lldb-11 or plus) too? BTW, are there any diagnostic logs about this command?

[2022-04-26 17:25] mikem8361 commented on #3032
This bug only affects the command if it is in your .lldbinit or executed before a target (live session, attach or core dump) is created.  The version of lldb or Linux distro should not matter.

[2022-04-26 17:50] hoyosjs commented on #3025
I couldn't transfer this to the PerfView repo which is the home to perfcollect. I transferred the original text to  microsoft/perfview#1612 as there seems to be similar symptoms to one of the issues there. As you say, this issue likely will need to get split as it seems to be more than one issue, but it's likely to get more traction there.

[2022-04-26 18:27] SharryXu commented on #3032
Hi @mikem8361 ,

Thanks for your response. But whenever I try to run the setsymbolserver command in lldbinit or lldb and despite the parameter I use (-directory,-ms or others), I always get this message: setsymbolserver xxxx -failed
Do you know where I can find some logs or more information about this?
BTW, sos command like clrstack works fine. But because of symbol missing, a lot of functions can

[2022-04-26 18:35] mikem8361 commented on #3032
It doesn't matter what the parameter or option if you run it in .lldbinit it will error. You need to run it at the lldb command line prompt.  FYI, `thread btrace` is a lldb command not an SOS command. The only command that my help is `loadsymbols` which attempts to download the .NET Core native symbol files. But you will have to run `setsymbolserver -ms` first.

[2022-04-27 00:00] #2924 closed

[2022-04-27 00:36] SharryXu commented on #3032
Hi @mikem8361 ,

Thanks for your response and I did run the command directly from the lldb command line prompt too and every times, the setsymbolserver command return to me "setsymbolserver xxxx -failed" (before/after) I attached to the process. BTW, the command "thread btrace" can print the unmanged code too and that is what I want but without the symbols, I cannot know the function names for tho

[2022-04-27 00:50] mikem8361 commented on #3032
You can turn on logging with `logging enable` before running the `setsymbolserver -ms` command.  I have no idea what is wrong.

Do you have a .NET Core runtime installed? You need to have 3.1 or greater installed. `dotnet --info` will display something like:

[code]

[2022-04-27 16:28] SharryXu commented on #3032
Hi @mikem8361 ,

Very appreciated for your support and I think I found the root cause. It was caused by not specifying the `architecture` when I installed the `dotnet-sos` tool. Anyway, thanks so much for all your messages! 👍

[2022-04-27 17:38] CarnaViire commented on #2954
Thanks a lot for explaining the limitations @mikelle-rogers! And I didn't know about `/ContinueOnError`, that's good to know!

As for what I look at the traces for -- I'm on .NET Networking team, so a lot of the time I find myself looking at HTTP telemetry, and things might get highly concurrent there and some painful race conditions are sometimes extremely hard to reproduce. And most of the time

[2022-04-27 20:06] mikelle-rogers commented on #2954
@CarnaViire I will make that note in the dotnet-trace documentation. Did using `/ContinueOnError` provide useful information?

[2022-04-27 20:30] #3030 closed

[2022-04-28 08:12] noahfalk commented on #2996
Hmm, out-of-proc profiler API is an interesting angle to frame DiagnosticsClient. It makes sense though it hasn't been the team's mindset. Thus far I'd say the major driver of IPC commands has been whatever functionality was necessary to create the various dotnet-* diagnostic tools (dotnet-counters, dotnet-dump, dotnet-trace, etc). In your ResumeRuntime() example, the functions on DiagnosticClient

[2022-04-28 08:44] jerviscui commented on #2821
How about this question?

[2022-04-28 09:13] CarnaViire commented on #2954
Yes, with it I'm able to open the trace and see the networking events I collected 👍

[2022-04-28 11:07] alexrp commented on #2996
For what it's worth: The [Mono log profiler](https://github.com/mono/mono/blob/3d11ccdce6df39bb63c783af28ec9756d1b32db1/mono/profiler/log.c) (which I don't think is being ported to unified .NET) would write profiling events to a file or a socket, the latter of which was how the Xamarin Profiler would gather events from it on device. It also had a command socket where XP could send the `"heapshot\n

[2022-04-28 16:24] mikem8361 commented on #2821
What question was that?

[2022-04-28 16:29] #2901 closed

[2022-04-28 22:11] mikelle-rogers commented on #2760
Adding BasicProcessInfoSuspendTest to the list of flaky tests. Here is the stack trace:

   at System.IO.BinaryReader.InternalRead(Int32 numBytes)
   at System.IO.BinaryReader.ReadUInt16()
   at Microsoft.Diagnostics.NETCore.Client.IpcHeader.Parse(BinaryReader reader) in /_/src/Microsoft.Diagnostics.NETCore.Client/DiagnosticsIpc/IpcHeader.cs:line 56
   at Microsoft.Diagnostics.NETCore.Client.IpcMe

[2022-04-28 22:14] mikelle-rogers commented on #2760
BasicProcessInfoSuspendTestAsync

System.IO.EndOfStreamException : Attempted to read past the end of the stream.

   at Microsoft.Diagnostics.NETCore.Client.StreamExtensions.ReadBytesAsync(Stream stream, Int32 length, CancellationToken cancellationToken) in /_/src/Microsoft.Diagnostics.NETCore.Client/StreamExtensions.cs:line 26
   at Microsoft.Diagnostics.NETCore.Client.IpcHeader.ParseAsync(Stream

[2022-04-28 22:15] mikelle-rogers commented on #2760
BasicProcessInfoNoSuspendTestAsync

Error message
System.IO.EndOfStreamException : Attempted to read past the end of the stream.

Stack trace
   at Microsoft.Diagnostics.NETCore.Client.StreamExtensions.ReadBytesAsync(Stream stream, Int32 length, CancellationToken cancellationToken) in /_/src/Microsoft.Diagnostics.NETCore.Client/StreamExtensions.cs:line 23
   at Microsoft.Diagnostics.NETCore.Client

[2022-04-28 22:16] mikelle-rogers commented on #2760
BasicProcessInfoSuspendTestAsync

Error message
System.Threading.Tasks.TaskCanceledException : A task was canceled.

Stack trace
   at Microsoft.Diagnostics.NETCore.Client.StreamExtensions.ReadBytesAsync(Stream stream, Int32 length, CancellationToken cancellationToken) in /_/src/Microsoft.Diagnostics.NETCore.Client/StreamExtensions.cs:line 20
   at Microsoft.Diagnostics.NETCore.Client.IpcHeader.Pa

[2022-04-28 22:28] mikelle-rogers commented on #2760
@josalem Do you have a hunch as to what is going on?

[2022-04-28 22:34] mikelle-rogers opened #3036 "dotnet-counters renders incorrectly in certain situations"
dotnet-counters renders incorrectly when:
- terminal changes size while the tool is running
- terminal is not wide enough to print the output

[2022-04-29 00:03] noahfalk commented on #2996
I suspect a lot (maybe all) of that functionality is already contained within the StartEventPipeSession IPC event. Everything that dotnet-gcdump and dotnet-trace does runs through that entrypoint and it is quite configurable.

If you run across particular scenarios that are useful to do from out-of-process but can't already be done by ICorDebug or the existing IPC commands (and I am sure such scen

[2022-04-29 11:39] jerviscui commented on #2821
And run `clrmodules` will get exception:

[code]

[2022-04-29 15:30] hoyosjs commented on #2821
@jerviscui where do you get this runtime from? They rename images: `/usr/share/dotnet/shared/Microsoft.NETCore.App/6.0.4/libcoreclr.so.dpkg-new` shouldn't have that `dpkg-new`. The debugger doesn't see the runtime.

[2022-04-29 22:53] noahfalk commented on #2907
Tutorial has been added: https://github.com/dotnet/docs/pull/29182

[2022-04-29 22:53] #2907 closed

[2022-05-02 16:03] josalem commented on #2760
These look like two different types of errors:
1. "Read Past End of Stream"
2. `TaskCanceledException`

Both indicate an issue with the target process. In case 1, I'm betting the target process exited unceremoniously either by force or a crash. The latter implies a timing bug in the test harness. If you are trying to triage them further, you'll want to try and repro them locally. If they don't eas

[2022-05-02 20:54] #2038 closed

[2022-05-03 02:04] #2477 closed

[2022-05-03 09:11] noahfalk commented on #2906
I've been thinking on this one a bit and I think we should mark this enhancement and move it to the Future milestone. While I don't doubt some users of .NET would appreciate a guide on diagnosing native memory leaks, I am only aware of about ~4 cases over the past 4 years. There are also a variety of pre-existing web articles and the methods to diagnose these issues vary based on OS and C runtime

[2022-05-03 09:59] noahfalk opened #3039 "Landing page improvements"
https://docs.microsoft.com/dotnet/core/diagnostics

1. Our landing page mentions debuggers, but omits profilers. We should add them.
2. Symbols and Unit Testing seem unnecessary as topics here.
3. 'Collect diagnostics in containers' perhaps should be in the tutorial list rather than the tool list?
4. Writing a custom diagnostic tool feels like a rare case and should be at the bottom of the page
5.

[2022-05-03 13:50] manio143 commented on #344
I tried running the single file tool in production today and couldn't get it to work. Looks like it's runtime dependent and it complained about missing `hostfxr.dll` - it makes sense for it to need the same runtime as the process - and the error message suggested to use `DOTNET_ROOT` variable to point it at a runtime, but setting it to the folder of the self contained application wasn't helping mu

[2022-05-03 15:49] hoyosjs commented on #344
@manio143 The docs say there needs to be a global installation of the runtime. This means that you need to use one of the following:
- Use a deb/rpm/apk install method. Those deploy the runtime in ways all tools know how to find it.
- Download the archive (.zip/.tar.gz) version of the runtime from the download page or temporarily deploy one using the `dotnet-install` scripts and point `DOTNET_ROOT

[2022-05-03 17:24] mikem8361 commented on #3003
Is there any way you could attach the core dump? Zip it up to make it smaller?

[2022-05-03 17:26] mikem8361 commented on #2997
Has the new release of dump-dump fix your issue?

[2022-05-03 20:13] mikelle-rogers commented on #2906
That sounds good to me.

[2022-05-04 23:41] #2954 closed

[2022-05-05 09:57] noahfalk commented on #1605
We've been giving internal guidance for teams adopting OTel to use ILogger for a good while now and we've received very little pushback, so I've gone ahead and [updated the public guidance](https://github.com/dotnet/docs/pull/29257) to recommend ILogger as a good default choice. I know there are likely to be some people who disagree or who want more caveats documented. I'm glad to take the feedbac

[2022-05-05 09:57] #1605 closed

[2022-05-05 15:56] davidfowl commented on #3026
We might also want to add a network-verbose profile with the following:

https://github.com/dotnet/runtime/issues/68423#issuecomment-1118404301

[2022-05-05 16:09] MihaZupan commented on #3026
[This](https://github.com/dotnet/runtime/blob/8a31a320899888a1b0c97011f0c337ddbaeac19f/src/libraries/Common/tests/TestUtilities/TestEventListener.cs#L22) is the complete list (for the moment) of all the public & internal networking event sources in runtime.

[2022-05-08 11:06] EvyaB opened #3051 "Dotnet-trace in container does not collect full stack information"
### Description

I'm having problems getting full traces of my code through dotnet-trace with docker containers. When I'm looking at the traces it seems to regard my code as External code and only collects info on the main method, without diving deeper into my source code.

When I'm using dotnet-trace on my local computer it does work fine and creates a full trace

When tracing locally on the Wind

[2022-05-09 01:27] jerviscui commented on #2821
I also ran the application image in docker desktop and dotnet-dump works fine.
Maybe there's something wrong with our k8s.

@hoyosjs  Thanks very much, Let me check the k8s first.

[2022-05-10 16:40] mikem8361 opened #3059 "Cleanup Module.GetPEInfo() functions"
The outer internal function makes assumptions about the flags being returned even if the inner one "fails".  They probably should be renamed "TryGetPEInfo" also.

[2022-05-10 16:42] mikem8361 commented on #3059
Also IModule.GetSymbolFileName() needs to be named so it is clear that it only returns the symbol file name for Linux.

[2022-05-10 20:39] #3032 closed

[2022-05-10 23:44] pjanotti opened #3060 "EventPipe sample profile: missing thread state information"
The events collected via sample profile don't have to provide enough information to infer the thread state. A blocked thread will have the same number of samples as one doing actual work.

If the sample profile collected only stacks from threads active on the CPUs, the lack of state information wouldn't be noticeable as it is right now. Anyway, having accurate thread state information would be hel

[2022-05-10 23:44] pjanotti opened #3061 "Make EventPipe sample profile frequency configurable"
The frequency for EventPipe stack sampling is hardcoded in the runtime. For scenarios where one wants to collect samples for a long time, this results in large traces.

For reference in ETW, while only one tracing session can collect CPU samples, the sampling frequency is configurable. IIRC, the maximum interval was 1 second.

[2022-05-11 17:57] danmoseley opened #3064 "dotnet dump creates empty file for process not running managed code"
A nit, but it would be more helpful to error with "Process {pid} is not executing managed code." or something similar.
[code]

[2022-05-11 21:35] leculver opened #3065 "dotnet-dump "mini" dumps do not include enough data"
### Description

In order to properly debug a crash dump generated by single-file exes, we need more data from the executable's PE image.  Specifically we need to read the export table to know if any given module is a single file module, e.g.:

https://github.com/leculver/clrmd/blob/25dea09efb3756ec46f4676fee340067ab85b228/src/Microsoft.Diagnostics.Runtime/src/DataTargets/DataTarget.cs#L190

When

[2022-05-11 21:55] leculver commented on #3065
### FULL dump:

[code]

### MINI dump:

[code]

(edit above because I pasted the wrong line in the full dump case)

[2022-05-11 22:02] hoyosjs commented on #3065
If the singlefile app doesn't have a DAC next to it, it needs to get extracted from the host - we'd need make sure it's there, it's getting extracted, and we'd need to get a BP here https://github.com/dotnet/runtime/blob/9d972eda4da654dfafae101e9850b1191a4dcbf9/src/coreclr/debug/daccess/enummem.cpp#L1535. This needs a recent enough version of dbghelp to work.

[2022-05-11 22:08] mikem8361 commented on #3064
This is related to improving dotnet-dump's error messages: https://github.com/dotnet/runtime/issues/54521

[2022-05-11 22:23] mikem8361 commented on #3065
Yes, this feels like the DAC isn't be loaded when the dump is generated (it shouldn't matter whether dotnet-dump/createdump or windbg is used to generate it).

[2022-05-11 23:23] #2155 closed

[2022-05-11 23:35] leculver commented on #3065
This was generated with:

It's possible the dac wasn't loaded, but it feels strange that this is the case.  The dac is embedded in the single_file.exe, I did double check that.  I would have imagined that dotnet-dump (or the part of CLR that does the dumping) would do the right thing here.  We definitely need to dig deeper to see what's going on, something is busted with the "out of the box" singl

[2022-05-12 00:02] hoyosjs commented on #3065
dbgcore comes from the machine and needs to have support for that embedded DAC. We don't redistribute it, and it does lead to pits of failure like this one - it could be interesting debating redistributing this, as long as we have a mechanism to service it in a timely manner as needed. We'd need to ask Tim and folks what their thoughts are.

[2022-05-12 01:59] leculver commented on #3065
At Juan's suggestion I added dbgeng.dll and dbgcore.dll next to dotnet-dump which changed the behavior but it still fails.

.dumpdebug shows that we put a little extra bytes into the dump:

    2710 0019A418    00007ff7`3ed90000   00000000`00000040
    2711 0019A458    00007ff7`3ed900f8   00000000`00000108

Full reads are below, but at its core we fail to read memory in this callstack:

[code]

No

[2022-05-12 02:08] leculver commented on #3065
So I think there _may_ be two issues here:

1.  There's definitely a dbgcore/dbgeng dependency problem.  That will need to be solved.
2. When we have dbgeng/dbgcore ClrMD still chokes on the pe header.  We can't parse it using System.Reflection.Metadata.  If we actually do have the bare minimum needed to get the right data out of this file I may have to bring back the hand-parser for PE images, wh

[2022-05-12 03:25] hoyosjs commented on #3065
WinDBG does know how to get a very thin slice of the export for this purpose.

[2022-05-12 16:13] davidfowl opened #3069 "Add dotnet trace profile to enable collecting counters with the trace"
Today its possible to use dotnet counters to collect counters and dotnet trace to collect traces. I'd like there to be a profile added to dotnet trace so that counters could be collected and correlated into a trace. This would make it easier to analyze counters alongside a trace which can give a better picture of what the numbers looked like leading up to or during certain events.

[2022-05-12 16:38] mikem8361 commented on #3065
Juan, doesn't dbghelp.dll need to be side-by-side with the dotnet-dump exe? It does a pinvoke to MiniDumpWriteDump in dbghelp.dll. dbgeng/dbgcore are also needed too.

Lee, I have also had similar problems with using the System.Reflection.Metadata.  SOS only uses it on an actual module file. Otherwise, SOS uses the symstore PEFile reader which doesn't read the whole header and all the data directo

[2022-05-12 22:37] leculver commented on #3065
Ok I've eliminated 2) as an issue.  Replacing System.Reflection.Metadata with my own PEImage reader resulted in correctly loading the image.

However, once I got further it's clear that not enough data is put into the dump, presumably the issue with 1) is that the dac wasn't loaded/called.  Happy to help further here if there's other issues suspected with ClrMD, but I go back to the original issue

[2022-05-13 07:55] jerviscui commented on #1402
@t-bzhan  Any new developments? Are you using lldb?

[2022-05-13 08:03] jerviscui commented on #2906
I'd like to see it.

[2022-05-13 15:45] tommcdon commented on #3069
@josalem

[2022-05-15 16:11] davidfowl commented on #3060
See https://github.com/dotnet/runtime/issues/68446

[2022-05-15 16:11] davidfowl commented on #3051
Do you have "Just my code" turned on?

[2022-05-15 16:15] davidfowl commented on #3036
I've seen this too.

[2022-05-16 00:54] noahfalk opened #3073 "High CPU overhead monitoring AppSvcAppLogs in App Services"
A 1st party team reported that they see CPU usage grow by ~3.25 core-hours / hour when they enabled AppSvcAppLogs for a 3.1 .NET Core app logging ~400 ILogger messages/sec. The messages vary from 100-300 characters each. The pricing tier was P2V2 running on Linux. This CPU seems excessive and would be worth investigating. A few questions to answer:

1. Can we reproduce this result with another ser

[2022-05-16 00:55] noahfalk opened #3074 "High CPU overhead monitoring AppSvcAppLogs in App Services"
A 1st party team reported that they see CPU usage grow by ~3.25 core-hours / hour when they enabled AppSvcAppLogs for a 3.1 .NET Core app logging ~400 ILogger messages/sec. The messages vary from 100-300 characters each. The pricing tier was P2V2 running on Linux. This CPU seems excessive and would be worth investigating. A few questions to answer:

1. Can we reproduce this result with another ser

[2022-05-16 11:14] gfoidl commented on #3074
@noahfalk it's the same as https://github.com/dotnet/diagnostics/issues/3073
By accident or intention?

[2022-05-16 13:14] jerviscui opened #3078 "Update docs: make required version of LLDB clear"
I see the document https://github.com/dotnet/diagnostics/blob/main/documentation/lldb/linux-instructions.md#debian-9-and-later
And I run this:

[code]

But, I get a error:

[code]

[2022-05-16 13:15] jerviscui commented on #3078
@Martin-Molinero  Can you help me?

[2022-05-16 18:27] mikem8361 commented on #3078
You can install any version greater than 3.9.  If this is a recent version of debian, lldb 10.0 or 11.0 may be available.  You could also try just "lldb"

[code]

[2022-05-16 18:35] mikem8361 commented on #3003
This should be fixed now.  It may be a month or so before our next tools release that includes this fix.

[2022-05-16 18:35] #3003 closed

[2022-05-16 20:19] noahfalk commented on #3074
Thats odd, not sure what happened there. Definitely by accident : )

[2022-05-17 08:39] jerviscui commented on #3078
Is it compatible lldb 10.0 or 11.0 and dotnet 6?
I see the documents used lldb 3.9.

I'll try lldb lastest.

[2022-05-17 08:50] EvyaB commented on #3051
The "Just my code" setting in Tools->Options was disabled. I've tried enabling it and didn't see any effect on this, however I saw there is another setting called 'Show Just My Code' in the filter menu of the diagnostics, and this one seems to have solved the problem. I'm still testing it as I did play with this setting before in my actual project and it didn't fix it there.

[2022-05-17 16:34] mikem8361 commented on #3078
At the beginning of the doc it does explain that any lldb greater than 3.9 should work. I will use this issue to make that clearer.

[2022-05-17 16:49] mikem8361 commented on #2947
dumpstack/eestack can be very unreliable because they attempt to dump the raw stack a pointer at a time. It calls the DAC when it attempts to see if the pointer is a valid GC object which attempts to validate any the memory but that doesn't work well on Linux/MacOS because we can't use the C++ exception handling to catch h/w (invalid access) exceptions like we can on Windows.

So I recommend using

[2022-05-19 11:19] EvyaB commented on #3051
Turns out last time I've looked at this setting it was with a specific package that starts working late, which is why it didn't show me valid data before, and when I tried other packages it wasn't with this setting.  New traces with the 'Show Just My Code' looks great. Thanks for the help!

[2022-05-19 11:19] #3051 closed

[2022-05-21 00:51] mikem8361 commented on #3064
dotnet-dump collect on Windows just calls MiniDumpWriteDump to generate the dump. There isn't a lot we can do to detect that there is no managed code, but there must be something else going on because you should have still have gotten a partial dump anyway even if it isn't a .NET process.

[2022-05-21 04:03] noahfalk commented on #2368
docs were also completed

[2022-05-21 04:03] #2368 closed

[2022-05-21 04:10] noahfalk commented on #819
this got completed during .NET 5 but we forgot to close the issue here

[2022-05-21 04:10] #819 closed

[2022-05-24 04:58] dotMorten commented on #2841
I'm hitting the exact same exception when trying to do .NET MAUI tracing as described here: https://github.com/dotnet/maui/wiki/Profiling-.NET-MAUI-Apps

[2022-05-25 20:31] SebastianStehle opened #3092 "Make GCDump tool available as a library"
## Background and Motivation

I have a service that gets evicted from time to time due to high memory load. I would like to write something that makes dumps automatically, when a threshold has been reached.

My idea was to build the solution into my service directly. It would be a timer that monitors the memory usage and triggers itself once a threshold has been reached. But I cannot reference the

[2022-05-25 20:52] jander-msft commented on #3092
I think that [dotnet-monitor](https://github.com/dotnet/dotnet-monitor/blob/main/documentation/README.md) would be well-suited for this so long running a separate monitoring process/container is allowable. You could configure a [collection rule](https://github.com/dotnet/dotnet-monitor/blob/main/documentation/collectionrules/collectionrules.md) to detect when one of the memory [event counters](htt

[2022-05-26 05:45] SebastianStehle commented on #3092
I have found this tool after I posted my issue. But I habe no idea yet how to get the dump out of my container. I am not using azure so I cannot use the egress support for blob storage

[2022-05-26 07:54] trympet opened #3093 "Consider adding a parameter to !clrstack allowing only the first n frames to be printed"
## Background and Motivation

I use SOS frequently. One of my top commands are `!clrstack -p`, however, this is very verbose. Often, I am only interested in the first `n` stack frames. E.g. when debugging an exception.

## Proposed Feature
A new parameter should be added to the `!clrstack` command, specifying how many frames to print.

## Usage Examples

`!clrstack -p -c 12` prints the first 12 fr

[2022-05-26 09:23] SebastianStehle commented on #3092
I should have read the documentation carefully. I thought that blob storage can only be used from inside azure in this case, but it is obviously not the case. I have configured dotnet-monitor successfully :)

[2022-05-26 09:23] #3092 closed

[2022-05-26 19:59] #3064 closed

[2022-05-26 20:00] #2976 closed

[2022-05-29 21:30] slav opened #3095 "dotnet dump: add support to save output log to a file"
## Background and Motivation
When doing complicated analysis, it can be difficult to both be able to reference large outputs (dumpheap) to copy/paste addresses (require a lot of scrolling up and down) and to share results of analysis with other people.

## Proposed Feature
Add support to save all console output to a log file, similar to `.logopen` command in windbg.

## Usage Examples
`> logopen D

[2022-05-31 15:34] tommcdon commented on #3081
@mikem8361 is option #2 now possible with https://github.com/dotnet/runtime/pull/67163 and https://github.com/dotnet/runtime/pull/67934?

[2022-05-31 15:47] tommcdon commented on #321
Thank you for submitting this bug report.  At this point, it has been a while since we requested additional information to reproduce your issue. Since we have not heard back from you we will close the issue. If you need further assistance on this, please feel free to contact us and we will be happy to help.

[2022-05-31 15:47] #321 closed

[2022-05-31 15:53] tommcdon commented on #2208
@cshung would you be able to help take a look?

[2022-05-31 16:46] mikem8361 commented on #2779
Yes, this is fixed in 6.0.3.

[2022-05-31 16:56] mikem8361 commented on #3081
Yes, the upcoming .NET 6.0.6 service release along with the latest published dbgshim should work with single-file and providing a shadow DBI via the library providers should work.  FYI, DBI has always leaked in the dbgshim shim APIs so this issue is trying to finally address that mscordbi.dll is locked (not unloaded)?

[2022-05-31 19:21] tommcdon commented on #2404
@iliamosko @liorss18 we apologize for the delay.  Large address spaces may cause the event pipe buffer to overflow.  Couple ideas:
1. Increasing the buffer size may help resolve this issue.  Add dotnet-trace's --buffersize command-line argument to dotnet-gcdump.  The current size looks like it is currently set to 1024 and is non-configurable https://github.com/dotnet/diagnostics/blob/88b248da66c7c

[2022-05-31 20:08] noahfalk commented on #2404
We did add a [known issue](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-gcdump#troubleshoot) to the docs about the overflow on large heaps. However short of implementing an EventPipe non-lossy mode (3 or 4) this issue is going to persist. I think the best solution for now on apps with very large heaps is to use dotnet-dump instead.

[2022-06-02 06:01] noahfalk commented on #1166
@josalem I see this got closed but was there a doc change that completed it? I wasn't able to find it.

[2022-06-02 15:35] josalem commented on #1166
I added docs on the PerfView side here: https://github.com/microsoft/perfview/pull/1613

I didn't add any docs in the dotnet docs though. If we do, we should just link to the PerfView ones.

[2022-06-02 16:50] mikem8361 opened #3101 "SOS should stop using HResult as a PInvoke return"
See https://github.com/microsoft/clrmd/issues/1015 and https://github.com/dotnet/runtime/issues/70099.

The pinvokes that use HResult in their signature are broken on Linux X86.

[2022-06-02 17:21] #3029 closed

[2022-06-02 19:16] noahfalk opened #3102 "EventPipe module names have unexpected .il suffix"
When viewing an EventPipe trace in PerfView or WPA the call stack views show symbols such as system.private.corelib.il!System.Threading.ThreadPoolWorkQueue.Dispatch(). Looking at similar data collected from ETW would show System.Private.CoreLib.dll as the module name. I haven't tracked down where the .il name comes from but I suspect it is a strong produced during CLR's module event. It would be n

[2022-06-02 19:28] noahfalk commented on #1166
Ah thats right, I remember talking about the PerfView docs now. Thanks for reminding my forgetful ole self ;p

[2022-06-03 12:59] ww898 opened #3104 "GetPublishedProcesses() throws the exception when there is the pipe with invalid symbol in system."
Windows x64, .NET Framework 4.7.2 (compatible with .NET Standard 2.0)

Compile and run the following sample:
[code]

Stack trace:
[code]

[2022-06-06 21:11] tommcdon commented on #1942
Move to future though will validate if this is already happening and if so close it

[2022-06-06 21:15] tommcdon commented on #2150
Is this covered by existing dotnet-monitor tests?  ok to close?

[2022-06-06 21:21] tommcdon commented on #2370
We believe this is fixed.  Please let us know if this is not correct.

[2022-06-06 21:21] #2370 closed

[2022-06-06 21:36] tommcdon commented on #2611
This seems like a runtime issue, and @tarekgh has fixed several bugs in Activities.  Is this issue still occurring?  If so, would you mind opening a runtime issue to track this problem?

[2022-06-06 21:36] #2611 closed

[2022-06-06 21:38] tommcdon commented on #2664
This seems to be related to multi-session support.  Adding the "enhancement label".

[2022-06-06 21:39] tommcdon commented on #2673
Moving to future as we haven't had customers providing feedback for sos's bpmd for single-file

[2022-06-06 21:41] tommcdon commented on #2719
This is an older non-investigated issue.  We will investigate the dump and then take the next appropriate action after that.

[2022-06-06 21:55] tommcdon commented on #2910
Closing - the customer workflow for debugging x-plat dumps is the same as #2903

[2022-06-06 21:55] #2910 closed

[2022-06-09 21:24] jonathanpeppers commented on #2881
@mikelle-rogers we need this for MAUI as well. Mobile requires usage of `dotnet-trace` requires `dotnet-dsrouter` and other setup. Because it's complicated, we wanted to make MSBuild targets to make it easier:

[code]

Which results in a `.nettrace` in the current directory. I have it working, except for a way to shutdown `dotnet-trace` gracefully. Is there anything we can do in .NET 7 today for t

[2022-06-12 03:45] mikem8361 opened #3111 "Reenable TestDbgEng tests in M.D.DebugServices.UnitTests"
After upgrading to clrmd 2.1 in PR #3094 the DebugServices unit tests could no longer load dbgeng.dll:

[code]

[2022-06-14 10:36] alexandr-osprey opened #3118 "dotnet-dump fails HRESULT: 0x00000000 not single file app"
### Description

I have an app running in OpenShift container and want to collect dump to analyze.
[code]

It's not single file app. It's built like that:
[code]

### Configuration
base image: mcr.microsoft.com/dotnet/runtime:6.0-focal

### Regression?

### Other information

[2022-06-14 12:31] tommcdon commented on #3118
@mikem8361

[2022-06-14 16:18] timmydo opened #3120 "Feature request: increase max heap segments"
Our internal application uses more than 1000 segments, and we aren't able to use the retail tooling to analyze dumps.

[code]

We're hoping we can get this number increased by a bit, so we are able to use the stock sos.dll instead of a custom one from @Maoni0 .

[2022-06-14 16:23] Maoni0 commented on #3120
@tommcdon, could we lift this limit please because Timmy's team legitimately has >1000 segments due to the # of frozen segments? we can either completely omit the check or check for the # of ro segments separately. I would vote for the former as it's also good for testing - we might want to use very small segment sizes. for regions we already got rid of this limit of course as we could easily have

[2022-06-14 17:22] tommcdon commented on #3120
@mikem8361 would you mind taking a look?

[2022-06-14 19:03] mikelle-rogers commented on #1736
Closing this issue because the last two tasks do not need to be completed.

[2022-06-14 19:03] #1736 closed

[2022-06-15 01:06] botinko commented on #2906
I'd like to see it.

[2022-06-15 03:51] tommcdon commented on #3081
The fix enabling option 2 has shipped in https://github.com/dotnet/core/blob/main/release-notes/6.0/6.0.6/6.0.6.md

[2022-06-15 15:59] steveisok opened #3125 "[dotnet-trace] Add option to stop tracing on trigger"
In order to better support tracing in mobile scenarios, we would like the ability to stop a trace based on a trigger.  For example, we are using `dotnet-trace` to profile an Android application at startup.  It would be helpful if we could stop a trace based on a common method name.

An example:

[code]

[2022-06-15 16:00] steveisok commented on #3125
@tommcdon Can you add the enhancement label? I don't appear to be able to.

[2022-06-15 17:02] tommcdon commented on #3125
Added

[2022-06-15 21:53] mikem8361 opened #3126 "Reenable SOS "bpmd" on 7.0 once the windbg breakpoint issue on W^X is fixed"
The SOS NestedExceptionTest.script, OtherCommands.script and StackAndOtherTests.script all have the "bpmd" parts of the test ifdef'ed out for 7.0 runtimes because of the windbg issue that it can't set a breakpoint in a read/execute page.

[2022-06-16 18:06] mikem8361 commented on #3118
Would you mind enabling logging with the --diag option?

I think this has been fixed in the .NET 7.0 runtime (Preview 5 is out) with the latest dotnet-dump (v6.0.328102)

[2022-06-16 19:56] michaelstum commented on #2808
[WinDBG had logopen/logappend](https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/keeping-a-log-file-in-windbg) which was VERY useful and pretty much a rule of thumb for me to always start every WinDBG session with a log open to capture everything. Running `dotnet-dump -c` works, but is a bit tedious if I still want an interactive shell to try out several things - I'd have to redir

[2022-06-16 21:45] mahamr commented on #2478
exception trigger would be very useful, especially here in CSS. Right now there is no way I can think of to capture a dump on a specific exception on Linux machines - on Windows we can use Debug Diagnostics or ProcDump or any of those .NET-aware tools, but on Linux there doesn't seem to be anything like that.

[2022-06-17 16:47] mikem8361 commented on #3118
I forgot to mention that the output from --diag is displayed on the target app's console. If you are running it as a service or in the background, you need to somehow capture stderr/stdout from the app.

[2022-06-17 21:27] alexandr-osprey commented on #3118
I just opened terminal and container output window side by side and didn't get any new output there.
Also update did not help.
[code]

[2022-06-17 21:31] alexandr-osprey commented on #3118
[code]

[2022-06-20 07:23] vybber opened #3131 "dotnet-gcdump doesnt work with kubectl debug"
### Description

New Kubernetes feature that was moved to beta (https://kubernetes.io/docs/concepts/workloads/pods/ephemeral-containers/) doesn't work with dotnet-gcdump (and other tools too)

Steps to reproduce:
Create following pod
[code]

Start debugging pod
`kubectl debug -it test --image=mcr.microsoft.com/dotnet/sdk:6.0 --target=app`

Wait till shell is started and install gcdump
`dotnet tool

[2022-06-21 21:57] nissims opened #3137 "dumpasync --methodtable result in error when parameter are not prefix with the 0x (hex) sign"
repro: dumpasync --methodtable 00007ffed1648d18
result: Cannot parse argument '00007ffed1648d18' for option '--methodtable' as expected type System.Nullable`1[System.UInt64].

specify the '0x' works as expected
dumpasync --methodtable 0x00007ffed1648d18

[2022-06-22 01:59] stephentoub opened #3138 "Add SaveAllModules command"
## Background and Motivation

sos today provides both the `clrmodules` command, which enumerates all modules in memory along with their address, and the `savemodule` command, which accepts a module address and a file path and writes the module out to disk.  This is really useful for being able to extract an assembly and save it out for use with other tools, like ILSpy.  But this is tedious (or req

[2022-06-24 15:34] asmichi commented on #3081
Thank you for the investigation! I gave it a try; unfortunately the issue persists. devenv.exe still loads `mscoredbi.dll` in the app `bin` directory and will not unload it. Configuration:

- VS17.2.5, VS17.3.0 Preview 2.0 (dbgshim.dll 6.0.328102+ab657cc109f93e48d52f6b12cd7f136bb2d0b311)
- .NET SDK 6.0.301
- Windows 11 ja (22000.739)
- x64

[2022-06-24 15:59] tommcdon commented on #3081
Thanks for the update!  The .NET runtime work is completed to support debugging single-file applications but Visual Studio has not yet shipped support for it.  Please watch the Visual Studio release announcements and then let us know if still does not work after there is a version of VS that supports the scenario.

[2022-06-24 17:02] mikem8361 opened #3143 "Reenable EventPIpe.UnitTests GCCollect_ProducesVerboseEvents test"
Not sure – it’s interesting that GCCreateSegment events are still fired but the free ones are not symmetrical. As you say – it’s more of what the purpose was for the event. If they save them and match them to check for memory freed, that’s a bit of a break if things get recycled. Is there any case where regions get deallocated prior to the end of the process’s life? Like shrinking working set or s

[2022-06-28 21:48] richlander opened #3148 "Clarify commands usage in `dotnet-dump analyze` help"
I want to do the following:

[code]

That doesn't appear possible. It would be very powerful.

[2022-06-28 21:56] mikem8361 commented on #3148
You can do this:

[code]

[2022-06-28 21:58] richlander commented on #3148
Nice!!!! Thanks much.

[2022-06-28 22:14] danmoseley opened #3150 "dotnet dump -c command dump does not work, parameters must be reversed"
`dotnet dump` help indicates that `dotnet dump -c somecommand <dump_path>` is the right syntax to open a dump and run a command. However this produces `Required argument missing for command: analyze`. Instead `dotnet dump <dump_path> -c somecommand` works.

Note the same happens if I use `dotnet-dump` (with hyphen)

[code]

[2022-06-28 22:22] mikem8361 commented on #3150
This is a known problem in the version of the System.CommandLine package which dotnet-dump uses to parse the command line.  I will see if the latest version has this fixed.

[2022-06-28 22:52] danmoseley commented on #3148
@mikem8361 could you clarify the `-?` help here then as neither of us figured this out?

It does say ` [default: System.String[]]` but I didn't know what that meant.

Eg, something like

` -c, --command <command>    Run the command on start. Can be repeated to run a sequence of commands.`

[2022-06-28 22:54] richlander commented on #3148
I was confused by that, too.

[2022-06-28 22:59] mikem8361 commented on #3148
That is System.CommandLine's way of indicating that multiple -c comands can be parsed.  It is very unclear but maybe it has gotten better in newer versions.

@jonsequitur, we are currently on version 2.0.0-beta1.20468.1 of System.CommandLine. Has this improved?

[2022-06-28 23:00] mikem8361 commented on #3150
@jonsequitur, we are currently on version 2.0.0-beta1.20468.1 of System.CommandLine. Has this improved at all?

[2022-06-28 23:01] hoyosjs commented on #3148
We can, at the very least, modify the help text.

[2022-06-28 23:05] danmoseley commented on #3150
If it's configurable, my vote would be to always have the file as last parameter, as per the Unix standard. But clearly small beans and perhaps that'd be breaking now.

[2022-06-29 01:02] jonsequitur commented on #3150
The current behavior as of beta 4 is still a little strange, actually.

<img width="910" alt="image" src="https://user-images.githubusercontent.com/547415/176328620-35b43bb2-0731-4b97-8066-2043dd6b6970.png">

But the help customization APIs have made this a lot easier for you to get the help output you want.

<img width="910" alt="image" src="https://user-images.githubusercontent.com/547415/176328

[2022-06-29 01:58] mikem8361 commented on #3150
Jon, this issue is more about the ordering of a string Argument (dump path) and options (-c) that the argument must be first and the -c option after.

The code involved is [here](https://github.com/dotnet/diagnostics/blob/5ad37d8dc3128a21d6070aa23fa706c26930ee8c/src/Tools/dotnet-dump/Program.cs#L89).

[2022-06-29 02:04] jonsequitur commented on #3150
The parsing behavior has become more flexible so I think there's a good chance we can enable this without breaking the existing parsing, but it's probably worth an in-person discussion so I can make sure I understand the nuances.

[2022-06-29 02:07] jonsequitur commented on #3150
Yeah, I got that after I posted but I homed in on the help weirdness. 😅

I think there are two orthogonal things that can be done:

* Make the parsing smarter to enable the more intuitive syntax, and
* Improve the help so we guide people on how to use the existing syntax.

We can potentially do both but even if we do the first one, the second one is important if we don't want to make a breaking ch

[2022-06-29 04:56] #3148 closed

[2022-06-29 20:14] Vandersteen opened #3153 "Understanding dotnet-counters output"
First of all, my apologies if this is not the right place to ask this question. I was not sure where I could ask about this.

I am having trouble understanding why my container gets Oomkilled on kubernetes.
So I installed dotnet-counters to inspect what is going on a high level.

Example output:

[code]

If i understand this output correctly, the application is using a lot of 'unmanaged' memory ?

[2022-07-01 08:03] gfoidl commented on #3153
From the informations given, and your description what the process does it looks like that there are too many large objects (> 85.000 bytes in size) which go to the LOH which isn't compacted (by default) during GC. Maybe thats the reason for your OOMs.

For further diagnositcs you can use [dotnet-trace](https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dotnet-trace) and perform a "gc-trace"

[2022-07-01 08:22] danmoseley commented on #2978
Alternative option: accept both forms. Then docs (blogs, etc) don't need a change plus my muscle memory is happy.

[2022-07-01 11:01] Vandersteen commented on #3153
Thank you, greatly appreciated

[2022-07-01 23:20] mikem8361 opened #3155 "Reenable eeversion tests in StackAndOtherTests/StackTests scripts when 7.0 dumps have version string"
The 7.0 createdump generated core dumps don't have the version string (sccsid).

[2022-07-02 04:14] #2568 closed

[2022-07-02 04:14] #2819 closed

[2022-07-06 20:33] leculver opened #3169 "Re-evaluate what SOS commands are supported on Linux/OS X"
There are a surprising number of commands that are only supported on Windows when (presumably) their implementation should be usable on Linux and OS X.

Here's a list of useful commands that are scoped to Windows, when they would be useful regardless of the platform:

- [ ] DumpSig
- [ ] DumpSigElem
- [ ] DumpRuntimeTypes
- [ ] VerifyHeap
- [ ] AnalyzeOOM
- [ ] VerifyObj
- [ ] ListNearObj
- [ ] GC

[2022-07-06 20:41] leculver opened #3170 "CreateDump may use too much memory"
Our partner team reports that on Linux, createdump can take up to 150mb of memory usage in a Linux container environment and may cause the container to OOM.  This is surprising because createdump _mostly_ works on small chunks of memory when reading from a process and writing to a dump.

I have not tried to reproduce this myself.  This work item is to investigate this issue and see if we can repro

[2022-07-06 23:42] mikem8361 commented on #3169
DumpSig, DumpSigElem, DumpRuntimeTypes, VerifyHeap are all available under lldb if you prefix the command with "sos ". Will add the needed lldb command alias so they can be invoked directly. They are not available under dotnet-dump analyze. Will fix that too.

ThreadPool is already available everywhere.  Under lldb/dotnet-dump it is lowercased as "threadpool".  FYI, !thtreadpool (lower case) will

[2022-07-07 00:35] leculver commented on #3169
ThreadPool doesn't seem to work.  I was going by this line, which disables it on linux dumps:

https://github.com/dotnet/diagnostics/blob/main/src/SOS/Strike/strike.cpp#L8028

For example, loading a linux coredump with SOS and running !threadpool produces:

[code]

[2022-07-07 00:36] leculver commented on #3169
Similar for the other commands you list, DumpSig, DumpSigElem, DumpRuntimeTypes:

[code]

The scenario being reported here is WinDbg debugging linux coredumps.

[2022-07-07 00:40] mikem8361 commented on #3169
Never mind. I forgot about those checks. Some of them might be for Linux dumps on Windows because the cross dac didn't support something.

mikem
________________________________
From: Lee Culver ***@***.***>
Sent: Wednesday, July 6, 2022 5:37:07 PM
To: dotnet/diagnostics ***@***.***>
Cc: Mike McLaughlin ***@***.***>; Assign ***@***.***>
Subject: Re: [dotnet/diagnostics] Re-evaluate what SOS comman

[2022-07-07 17:26] mikem8361 commented on #2947
When this is fixed, re-enable the SOS dumpstack/eestack tests in "StackTests.script" currently disabled for 7.0 runtimes, under dotnet-dump and arm32 architectures.

[2022-07-07 20:47] hoyosjs opened #3175 "Consider possible ways to enable child process scenarios in tracing"
_Originally posted by @kasperk81 in https://github.com/dotnet/msbuild/issues/7757#issuecomment-1177977054_

It's really hard to do startup tracing at runtime startup for child processes. It would be easier to have something like createdump, that allows the environment variables to have a token with a pid marker so the pipe can be distinguished per process and there can at least be a trace per proc

[2022-07-13 04:41] jw30-lee opened #3187 "dotnet-dump analyze causes an Exception"
Hello.
The following exception occurs when using dotnet-dump

[code]

The OS I am using is Linux Tizen.
The device is a Samsung TV and I am using Coreclr3.1.3 based on Tizen .NET.
The version I used is as follows
https://github.com/tizendotnet/diagnostics/releases

I saw the issue below, but it doesn't seem to help.
https://github.com/dotnet/diagnostics/issues/1059

[2022-07-14 00:38] hoyosjs commented on #3153
Closing this one - if you hit any further issues feel free to open a new issue.

[2022-07-14 00:38] #3153 closed

[2022-07-14 21:33] mikem8361 commented on #2808
dup of https://github.com/dotnet/diagnostics/issues/3095

[2022-07-14 21:33] #2808 closed

[2022-07-18 20:10] davmason commented on #3131
Hi @vybber,

Thanks for reporting this. When I try the repro you provided I see it finding processes:
[code]

What runtime are you using to run the app that doesn't show up? Also, some configuration knobs can turn off the diagnostic features, can you check if and `DOTNET_` or `COMPlus_` environment variables are set?

[2022-07-19 16:28] alexandr-osprey commented on #3118
I think it's related to the lack of permissions or capabilities - I received that error in OpenShift cluster, but dump works just fine in my local docker container.

[2022-07-19 16:28] #3118 closed

[2022-07-20 15:49] dave-yotta opened #3214 "dotnet dump collect no pause/wait for GC (invalid method table)"
### Description

A large, full dump was taken of a process to figure out some memory leaks, using `dotnet dump collect`.   However analyzing that now I'm getting this:

[code]

I think dotnet-dump should be waiting for GC Idle then freezing the process no?

### Configuration

.NET Core 3.1, Linux.

[2022-07-21 09:46] noahfalk commented on #3214
Currently dotnet-dump doesn't synchronize with the GC by design, but this does sound like a useful feature and it isn't the first time I've heard a similar request. This is in the general area of [triggers](https://github.com/dotnet/diagnostics/issues/2478) where rather than having the dump occur immediately, we want to wait until some condition is met. In this case the condition would be GC isn't

[2022-07-21 10:07] dave-yotta commented on #3214
Thanks - can you recommend any other tool that would sync with the GC in the meantime?

[2022-07-21 22:56] noahfalk commented on #3214
Unforetunately no, I'm not aware of a dump capture that automatically synchronizes (dotnet-gcdump does, but it has a known issue with heaps as large as yours so I am avoiding recommending it in your case). Unless your process is in a bad state where it is doing extremely frequent GCs you may have just gotten unlucky on the timing in this instance. There is a small period of time during a GC where

[2022-07-22 02:49] mikem8361 opened #3218 "SOS's GCHeapsTraverse doesn't work for server GCs"
The [GCHeapsTraverse](https://github.com/dotnet/diagnostics/blob/5dd6423d921fdfe522219ddfe16c20b66bc12556/src/SOS/Strike/eeheap.cpp#L1255) function doesn't work on my simple webapp that uses a server GC.

This is 7.0 Windows x64 target but it also doesn't on Linux or against a 6.0.6 runtime target process. The `!dumpruntimetypes` command is one that uses this function.  The failing object below is

[2022-07-23 10:28] ManickaP opened #3222 "setclrpath fails with "Runtime required""
I have a dump from a custom build of clr+libraries. I'm trying to set clr path which contains `libmscordaccore.so` but I'm getting this error.
I tried sethostruntime but it says: `Runtime hosting already initialized`.

So I'm at my wits end how to mitigate this error.

EDIT: OS Linux

[2022-07-23 10:56] k15tfu commented on #1552
@mikem8361 Hi! Any updates on this?

[2022-07-23 16:38] mikem8361 commented on #3222
Are you using lldb? It is probably that lldb needs the app module (usually `dotnet`) on the command line with the core dump so it can figure out the native module list.  Because of that SOS can't find libcoreclr.so.  First try `target modules list` and if libcoreclr.so isn't in the list then that is your problem.  You need to execute lldb like `lldb --core coredump.2322 <path-to>/dotnet`. Then onc

[2022-07-23 16:41] mikem8361 commented on #1552
We will try to get to this for our fall 7.0 tool release.

[2022-07-23 16:47] mikem8361 commented on #3222
I forgot one more thing about lldb (it can be fussy with core dumps): it will need access the libcoreclr.so module used to create the dump.  If the dump was created on the same machine you are running lldb on then none of these things should be neccessary, but if libcoreclr.so isn't in the same place you need to copy it next to the core dump.

[2022-07-24 08:55] ManickaP commented on #3222
I was using both `dotnet dump analyze` as well `lldb`. None works, not even with your suggestions. I'm gonna try to collect the dump again...

[2022-07-25 08:01] ManickaP commented on #3222
What it solved, was to put "testhost" in the exact path as was on the machine where the dump was created.

[2022-07-25 08:01] #3222 closed

[2022-07-25 15:37] leculver commented on #3065
The change to the title of this bug does not reflect reality, I've changed it back.

Dotnet-dump creates crash dumps.  If those crash dumps don't contain enough data to debug the underlying crash, then this is a bug.  Dotnet-dump isn't doing what it clams to do (generate debuggable crash dumps).

It's possible that you could solve this by shipping dbgeng/dbgcore along with dotnet-dump.  That's a p

[2022-07-28 23:15] #1023 closed

[2022-07-28 23:15] cshung commented on #1023
This is done.

[2022-07-29 03:44] danmoseley opened #3235 "installing dotnet-dump on Alpine puts down Windows files"
`dotnet tool install --global dotnet-dump`
then
[code]
should it be including eg `win-x86/dotnet-dump.exe` ?  maybe this is a flaw in the dotnet global tool mechanism and this should move to dotnet/sdk?

[2022-07-29 16:40] mikem8361 commented on #3235
I think all the shims are installed like you are seeing and the way it works on Linux (any rid) is not to use the shims (since there isn't one for linux-*)  and run the managed dll directly with the `dotnet` host.

So I'm assuming running `dotnet-dump analyze` doesn't work on Alpine so I'm probably wrong on how this works.

@hoyosjs does that make sense?

[2022-07-29 18:19] cshung commented on #3218
The bug is understood. The code in `GCHeapTraverse` missed the POH is empty case.

[2022-07-29 18:41] #3169 closed

[2022-07-29 18:42] #3218 closed

[2022-07-29 21:56] hoyosjs commented on #3235
The packaged shims are ways to enable signatures in dotnet tools. If you specify a shim, we embedded in the package so you can sign those ad then they can be trusted according to the OS policy. Windows and macOS have shims since it makes sense to sign executables. Linux doesn't package them, but it will always install a shim - likely in a directory like `~/.dotnet/tools`. As for the contents of .s

[2022-07-29 22:06] hoyosjs commented on #3235
This is essentially https://github.com/dotnet/sdk/issues/24350 and a few other things. Once that work is done we need to rework the way we package our tools. Closing in favor of that one.

[2022-07-29 22:06] #3235 closed

[2022-08-01 12:40] jpdillingham commented on #3131
I'm having the same issue trying to dump a self contained executable across all Linux platforms, both desktop and in Docker.

Most recently I'm trying on a Ubuntu desktop:

[code]

Dotnet version is `6.0.100`.  `dotnet-dump ps` and `dotnet-gcdump ps` both report `No supported .NET processes were found`

The executable is [here](https://github.com/slskd/slskd/releases/tag/0.16.8).  This works fine

[2022-08-01 18:27] mikelle-rogers opened #3248 "dotnet diagnostic tools benchmark tests need investigation"
The benchmark tests are failing and need to be investigated.
https://github.com/dotnet/diagnostics/tree/main/src/tests/benchmarks

[2022-08-01 19:34] agocke opened #4099 "NativeAOT crash dumps bucket all user exceptions as APPLICATION_FAULT"
Here's what `!analyze -v` sees for a simple console app that throws an `ApplicationException` when there are no symbols/PDB:

[code]

The failure bucket is `FAILURE_BUCKET_ID:  APPLICATION_FAULT_a8527f6c_aotExc.exe!Unknown`, and the stack is on `RaiseException`. This seems to indicate that analyze can't see the actual exception type.

[2022-08-04 13:40] Greendq opened #3258 "Ubuntu: dotnet-dump/gcdump can not dump process memory if application was compiled on windows machine"
### Description

When project is cross-compiled under Windows for Linux, dotnet-dump and dotnet-gcdump can not create dumps for the running process. Tested on Ubuntu 20.04 and Ubuntu 22.04. Tested on Amazon VMs, but looks like virtualization does not matter here.

When the same application is compiled under Linux on testing machine - tools works as expected, dumps are created.

To reproduce:
[cons

[2022-08-04 17:32] #1529 closed

[2022-08-04 17:34] mikem8361 commented on #1004
This issue should be fixed now.

[2022-08-04 17:34] #1004 closed

[2022-08-04 17:38] mikem8361 commented on #3143
And part of .EventLogsPipelineUnitTests.TestLogsAllCategoriesDefaultLevelFallback line 106.

[2022-08-05 00:07] HJLeee commented on #3187
@jw30-lee Please close this as it is resolved internally. If it still happens on your env, please share reproduction steps to me.

[2022-08-05 18:55] mikem8361 opened #3262 "Update Microsoft docs with createdump changes."
### Documentation Request

The doc changes in this runtime [doc](https://github.com/dotnet/runtime/blob/main/docs/design/coreclr/botr/xplat-minidump-generation.md#configurationpolicy) need to go into the ones in the public Microsoft docs [here](https://docs.microsoft.com/en-us/troubleshoot/developer/webapps/aspnetcore/practice-troubleshoot-linux/lab-1-3-capture-core-crash-dumps#configure-createdum

[2022-08-06 17:08] mikem8361 opened #3265 "A few SOS commands fail on a Linux single-file app under lldb at process launch"
When lldb stops on a `process launch -s` for a single-file app, the ELF symbol data structures are not initialized yet (RVA's instread of address), so SOS can't find the runtime info structure causing any command that needs to find the runtime (setclrpath, runtimes, etc.) fails.  We may be able to detect this in the clrmd ELF reader used to find the runtime info symbol (RVA's vs. addresses).

Reen

[2022-08-09 17:53] mikem8361 commented on #2947
This should be fixed in 7.0.0 with PR https://github.com/dotnet/runtime/pull/73426.

[2022-08-18 03:27] davidfowl opened #3295 "Add a counter for gen0 budget"
## Background and Motivation

The gen0 budget can be used one of the signals to better  understand when the GC is going to collect. It's not the only signal but it's an important one.

## Proposed Feature

Today that information is readily available as an GC event but not an event counter. We can either synthesize a counter in our diagnostic tools or emit a counter from the runtime. I don't have a

[2022-08-18 19:13] Maoni0 commented on #3295
I think this would be a good counter to expose and does make sense as a user facing feature as it tells you how much allocation will happen till the next GC.

[2022-08-18 23:05] dionrhys commented on #1144
This would be lovely to have so we could calculate before/peak size across the generations. It doesn't look like there are any other `EventListener`-based events that expose this.

I'm using your gist (https://gist.github.com/noahfalk/935e43bf69e3737f55164ac16f2d2ee6) as a workaround right now. I'm using `EventPipe` and the `TraceEvent` library so I can make use of its `GCEnd` event to get at `Tra

[2022-08-19 03:53] noahfalk commented on #1144
I think the tradeoffs right now are:
EventListener - doesn't depend on any extra libraries, has some limitations in what data is provided for each event (no stack trace, this issue above), no built-in analysis or abstractions on top of the raw events
EventPipe - requires the Microsoft.Diagnostics.NetCore.Client and TraceEvent NuGet packages use it easily, surfaces all the event data, TraceEvent in

[2022-08-19 04:58] davidfowl commented on #3295
@Maoni0 Sweet! I was also going to suggest something about a survived bytes gen0 and gen1 counter (since last GC) but I wasn't exactly sure if it would be as useful.

@tommcdon Should I move this to dotnet/runtime since we're going to make it a counter?

[2022-08-19 12:11] tmds opened #3298 "Unable to set providers using EventPipeConfig"
Probably this is not a bug, but me doing it wrong.

I'm using .NET 6.0.107.

I have an app:
[code]

I'd like to see a trace that includes the HTTP events.

I've set these variables:
[code]

I execute the app:
[code]

I now have a file at `/tmp/trace`.

I read it (on another shell that doesn't have the envvars set) using:
[code]

The output doesn't have any HTTP events.

cc @noahfalk @dotnet/area-s

[2022-08-20 05:31] noahfalk commented on #3298
@davmason

At first glance I would guess the issue is that "*" isn't a valid setting for DOTNET_EventPipeConfig. https://docs.microsoft.com/en-us/dotnet/core/diagnostics/eventpipe#trace-using-environment-variables
https://docs.microsoft.com/en-us/dotnet/core/diagnostics/well-known-event-providers

Perhaps you want DOTNET_EventPipeConfig=System.Net.Http?

[2022-08-22 04:31] tmds commented on #3298
I think this has worked for me in the past.

With
[code]

I still don't get any HTTP related events.

[2022-08-22 23:43] mikelle-rogers commented on #2841
Hello @bschwehn and @dotMorten, I tried to repro this, but wasn't able to. How often are you able to reproduce this issue with dotnet-gcdump?

[2022-08-23 01:02] kofifus commented on #3081
still experiencing this. Is there a solution ?

[2022-08-23 03:32] noahfalk opened #3308 "[Feature Request] Debugger API to create ref structs"
ICorDebug has various ICorDebugEval APIs to create value types, but ref structs have a requirement that they be placed in stack memory. Visual Studio would like to run func-evals that take the addresses of ref structs as arguments (for example `System.Private.CoreLib.dll!System.Runtime.CompilerServices.DefaultInterpolatedStringHandler..ctor(int literalLength, int formattedCount)`) but they need to

[2022-08-23 05:00] noahfalk commented on #3298
Hopefully @davmason can take a look.

[2022-08-23 09:14] davmason commented on #3298
@tmds, the configuration Noah gave should have worked - do you get any events at all in the trace file? You could also try `COMPlus_EventPipeConfig=System.Net.Http:0:5` and see if that works

[2022-08-23 12:25] tmds commented on #3298
Yes, there are events, most of them are `Loader/...` events.

That doesn't work either.

[2022-08-23 12:42] bschwehn commented on #2841
Hi, thanks for looking into this. Unfortunately, I moved to different projects now, so I haven't used gcdump for a while. It reproduced quite often in the project I used to work on back then. I seemed to happen only after the process ran for a while. Maybe it is related to the size of the GC heap or some particular data in it, but I'm afraid I am now unable to provide more information. Could it be

[2022-08-23 22:15] davmason commented on #3298
If you are seeing loader events that makes me suspicious. If you have `COMPlus_EventPipeConfig=System.Net.Http` then you should only be receiving those events and we shouldn't enable the default providers.

For a sanity check do you have `DOTNET_EventPipeConfig` still set? It may be picking that up and ignoring the COMPlus one

[2022-08-24 13:05] tmds commented on #3298
I only had the 3 envvars set mentioned in the comment.

I get the loader events with `COMPlus_EventPipeConfig=System.Net.Http` set.

[2022-08-24 14:20] kolesnikovae opened #3313 "Correlate EventPipe events with trace spans"
Hi everyone! Thank you for the awesome ecosystem and tooling you are developing.

We are building [Pyroscope](https://github.com/pyroscope-io/pyroscope), an open source continuous profiling platform. Our .NET agent handles the EventPipe stream from the profiled application through the diagnostic IPC in order to collect a CPU profile, and this works well in a simple scenario where the profile is co

[2022-08-24 15:55] tommcdon commented on #2719
@jacoballen73 I'm just letting you know that we are investigating this issue now.  Sorry for the delay.

[2022-08-24 17:19] wfurt commented on #3298
I think the problem may be  the name. Try to use `Private.InternalDiagnostics.System.Net.Http` @tmds. (if I remember correctly the name changed in 6.0 e.g. for 5.0 the old name would still work)

[2022-08-25 19:09] tommcdon commented on #2719
@jacoballen73 Unfortunately my linux distro doesn't match the dump, and so it isn't able to walk the native callstacks.  Do you happen to know what docker container would match the os when the dump was collected.

Here's the info I was able to pull from the dump.  Initial takeaways are:
* the GC suspension pending is set - so we have evidence that we are blocking for a GC
* all of the threads are

[2022-08-25 19:43] tommcdon commented on #2719
I looked at the various thread states and summarized them here:

[code]

[2022-08-25 21:26] tommcdon commented on #2719
@jacoballen73 we have fixes to createdump in .net 7 that should help make the dumps more actionable.  .NET Core 3.1 doesn't include the stack unwind data in the dump and so we need the matching linux distro to investigate.  Would you mind trying the scenario with .NET 7?

[2022-08-25 21:32] jacoballen73 commented on #2719
We recently upgraded from netcore3.1 to .net6, this situation was already flaky (doesn't happen super reliably in every single environment its being run in), and we haven't had an exact situation arise like this again (we also now have some liveness probes in place so it can't be stuck for this long anymore).  I will try to update here if a similar situation arises, but our own investigations have

[2022-08-25 21:39] mikem8361 commented on #2719
The unwind info dump generator changes also went into 6.0.9 service release I think. It hasn't been officially released yet, but it will be soon.

[2022-08-26 04:44] cijothomas commented on #3313
@noahfalk maybe something you can help or redirect...?

[2022-08-26 06:09] noahfalk commented on #3313
cc @davmason

Hi there Pyroscope crew! I took a look and I think we've got some options but fair warning I don't see one that is simultaneously easy to implement, high performance, and available to ship soon. I'd love for .NET to support this but we'll probably have to pick our poison on how we get there.

1. In an ideal world I think the runtime would have something built-in where you could set s

[2022-08-26 20:21] mikem8361 opened #3317 "Update the lldb version and CentOS7, etc. docker images"
The CentOS7, Alpine,  etc. docker images are outdated and we are testing against a very old lldb (3.9).  We need images with later versions of CentOS, Alpine and probably other ones and they need to have a more recent lldb (at least version 10, or 11).

[2022-08-28 06:29] cwhsu1984 commented on #3118
My project is aspnet:6.0-alpine, and I get similar error when dotnet-dump on k8s container.
I have also try to add `SYS_PTRACE`, but it still failed. I can do the same operation on local docker without issue, but always failed on my kubernetes. The issue looks related to https://github.com/dotnet/diagnostics/issues/2098.
Is this issue really solved?

[code]

Here's what log in console.
[code]

[2022-08-28 17:54] kolesnikovae commented on #3313
Thank you for the exhaustive answer @noahfalk. I think we could start with Activity start/stop + TPL EventPipe events – thank you for pointing out this approach. However, as you said, implementing our own low level profiler (ICorProfilerCallback) might be a better move from a longer term perspective. We will carefully consider the options you listed and find out which one suits us best. Thank you

[2022-08-29 08:23] alexandr-osprey commented on #3118
@cwhsu1984 have you tried to privileged container?

[2022-08-29 10:24] cwhsu1984 commented on #3118
just tried, still the same issue.

[2022-08-29 15:44] cwhsu1984 commented on #3118
it looks very similiar to this https://github.com/dotnet/diagnostics/issues/2098, but I have no proof of it.
I test my application with alpine, debain, both failed on net6.
However, if I switch everything to net7, it works fine for both alpine and debain.

[2022-08-29 16:20] mmitche opened #3326 "Specify all source-built dependencies and ensure they are regularly updated"
### Overview

Source-build works today by building a repository, gathering the versions of the outputs, and creating a property file with those versions. This property file is then fed to downstream repositories, which import it after their `eng/Versions.props`. The resulting behavior is that the downstream repo overrides all dependency versions specified in `eng/Versions.props` with the versions

[2022-08-29 16:20] mmitche commented on #3326
This is work for .NET 8

[2022-08-30 15:56] mmitche opened #3331 "Unified Build control update"
### Description

**This issue is dependent on https://github.com/dotnet/source-build/issues/2974 and is a placeholder for .NET 8 required work in product repositories.**

Instructions for implementation will be updated once https://github.com/dotnet/source-build/issues/2974 but will likely be a mechanical shift of properties in this repo. In a general sense, this is scaffolding work for expanding

[2022-08-30 15:56] mmitche commented on #3331
This is .NET 8 work

[2022-08-30 16:47] mikem8361 commented on #2541
Disabling the EventLogsPipelineUnitTests on Windows.

[2022-08-31 20:33] #3317 closed

[2022-09-01 18:34] mmitche opened #3341 "TFM trimming, and elimination of net4* targeting in Linux source-build"
### Description

Trim away unneeded TFMs, and conditionalize away non-applicable TFMs for Linux source build.

**Requires** https://github.com/dotnet/source-build/issues/3013. source-build net4* targeting elimination required https://github.com/dotnet/source-build/issues/2974

The purpose of this operation is twofold:
- [ ] Reduce the number of TFMs present overall in .NET's build, potentially imp

[2022-09-01 18:34] mmitche commented on #3341
This is .NET 8 work

[2022-09-02 21:55] mikem8361 commented on #3120
It looks like this 1000 segment check only happens if runtime doesn't have regions enabled.  What version of the runtime was this found and was GC regions enabled?

[code]

[2022-09-02 21:57] Maoni0 commented on #3120
we need this for segments. we have a scenario where there are >3000 segments (most of which are tiny little read only segments).

[2022-09-02 22:35] mikem8361 commented on #3262
Look at updating this section: https://docs.microsoft.com/en-us/dotnet/core/diagnostics/dumps#collect-dumps-on-crash

[2022-09-02 22:37] mikem8361 commented on #3120
I'll remove the check completely then.

[2022-09-02 22:38] mikem8361 commented on #3120
Is there a core dump I can test this on?

[2022-09-02 22:50] Maoni0 commented on #3120
I'll share one with you, @mikem8361.

[2022-09-06 12:37] tmds commented on #3298
@davmason can you please take a look?

[2022-09-07 09:15] davmason commented on #3298
Yes, I will take a look soon. I am running in to a different issue preventing me from debugging your issue

[2022-09-07 21:47] #3187 closed

[2022-09-07 21:47] #3120 closed

[2022-09-07 21:47] #3101 closed

[2022-09-07 21:57] #1374 closed

[2022-09-08 00:26] hoyosjs commented on #2110
Closing this one as the linked documentation explicitly calls out to add such entitlements to the host. The entitlements here were added to the application dll. .NET 7 added the default entitlements when publishing and added that as the default behavior on m1. @mikelle-rogers, can you please make sure to add a link to the FAQ for the AppHost doc? I just tested on a codesign on, dev mode off consol

[2022-09-08 00:26] #2110 closed

[2022-09-08 07:25] shaojun opened #3359 ".netrace show hight CPU usage for System.Threading.WaitHandle.WaitOneNoCheck"
I have .NET CORE 3.1 console application running on Windows 8 (32bit), it's constantly using like 40% CPU via TaskManager,  then I'm trying to `dotnet-trace` it.

After run the `dotnet-trace` against the process for 10m, I see the Hot Path analysis at VS shows:

![image](https://user-images.githubusercontent.com/3241829/189082296-dd480471-120b-490b-abe7-cf568dd368bf.png)

the `System.Threading.Wai

[2022-09-08 08:58] davmason commented on #3298
Thanks for your patience @tmds. I looked at this today and it is because of the way EventSource and EventPipe interact with keywords. There are more details at the potential fix I opened: https://github.com/dotnet/runtime/pull/75248

For your specific scenario, you can enable the http events with `COMPlus_EventPipeConfig=System.Net.Http:F00000000000:5`

[2022-09-08 09:12] tmds commented on #3298
Thanks!

I'm pretty sure that in the .NET Core 3 days, `EventPipeConfig=*` worked to get all events. Will your change enable that too?

[2022-09-09 09:23] davmason commented on #3298
This change will not enable that functionality, we currently only have the ability to enable specific providers. Enabling all providers would potentially be an enormous amount of data and perf impact so I'm not sure we would even want to provide that option.

[2022-09-09 09:31] tmds commented on #3298
Enabling all providers is an easy way to get everything, or to identify the ones you are really interested in.

It's not uncommon to have to deal with a ton of trace data to debug a problem.

[2022-09-09 18:57] #3262 closed

[2022-09-09 22:25] #3095 closed

[2022-09-10 18:43] MarkAD88 opened #3366 "dotnet-counters issue when monitoring a process launched via the same command-line"
### Description

Running `dotnet-counters monitor --counters System.Runtime,MyAppStuff -- MyApp` shows System.Runtime metrics but does not show MyAppStuff metrics.

Running `dotnet-counters monitor --counters MyAppStuff -- MyApp` shows nothing at all.

Launching `MyApp` in one console window and running `dotnet-counters monitor -n MyApp --counters System.Runtime,MyAppStuff` in another shows both s

[2022-09-12 00:33] tommcdon commented on #3366
@davmason

[2022-09-13 00:29] mikem8361 commented on #3065
It is against Windows policy to ship/redistribute the fixed dbghelp/dbgcore/dbgeng with dotnet-dump.  This fix will shipping in a future Windows service release.

[2022-09-13 22:55] mikelle-rogers commented on #2934
@davmason doesn't @dramos020's [PR](https://github.com/dotnet/diagnostics/pull/3353#discussion_r968781070) fix this?

[2022-09-14 15:42] danmoseley opened #3380 "dotnet trace output has extra "or""
[code]

Notice "orRecording" ... I assume this is a scrolling artefact from the trailing `Press <Enter> or <Ctrl+C> to exit...`

@adamsitnik would you expect this, from these lines
https://github.com/dotnet/diagnostics/blob/b9281eab827c6f825b596da4ddda8b3e5bd0ca3d/src/Tools/dotnet-trace/CommandLine/Commands/CollectCommand.cs#L296-L297

(note ConsoleWriteLine(..) just wraps Console.WriteLine(..))

[2022-09-14 16:31] danmoseley commented on #3380
Yes -- I just saw that too.

On my other machine, it does overwrite in place. Perhaps `if (!Console.IsInputRedirected)` is different somehow. I'd have to look more at some point. thanks.

[2022-09-14 17:47] danmoseley commented on #3380
Well, now I can't get it to scroll on either machine. I'll reopen if I have more info.

[2022-09-14 17:47] #3380 closed

[2022-09-14 17:50] danmoseley opened #3381 "dotnet-trace dumps stack if process cannot start"
It should catch Win32Exception presumably.

[code]

[2022-09-14 19:11] #2978 closed

[2022-09-14 20:01] #3036 closed

[2022-09-16 16:49] jander-msft opened #3392 "GCDump collection attempt results in OverflowException"
This dependency flow update from diagnostics into dotnet-monitor fails on all build legs when attempting to capture gcdump from a simple target process: https://github.com/dotnet/dotnet-monitor/pull/2507

Exception information:
[code]

The last successful insertion was from this [build](https://dev.azure.com/dnceng/internal/_build/results?buildId=1985682&view=results) of this [change](https://dev.

[2022-09-16 17:11] tommcdon commented on #3392
This may have been caused by https://github.com/dotnet/diagnostics/pull/3361
@davmason would you mind taking a quick look?
cc @mikem8361

[2022-09-16 17:26] mikem8361 commented on #3392
Yes, this is probably fallout of enabling overflow/underflow checking in the repo.

[2022-09-16 17:44] tommcdon commented on #3381
@dramos020 would you mind taking a look?
cc @davmason

[2022-09-16 23:29] davmason commented on #2934
Yes, his PR does fix this issue. Closing.

[2022-09-16 23:29] #2934 closed

[2022-09-16 23:50] hoyosjs commented on #3262
@mikem8361 how come this was closed?

[2022-09-17 21:49] mikem8361 commented on #3262
Noah updated the docs at the above collect-dumps-on-crash link and the original aspnetcore link doesn't really need any update.

[2022-09-17 22:01] mikem8361 opened #3395 "Update SOS command docs with newly supported Linux/MacOS commands"
Update the following docs with the new SOS commands supported now on Linux/MacOS lldb and dotnet-dump.

https://learn.microsoft.com/en-us/dotnet/core/diagnostics/sos-debugging-extension
https://github.com/dotnet/diagnostics/blob/main/documentation/sos-debugging-extension.md
https://github.com/dotnet/diagnostics/blob/main/documentation/sos-debugging-extension-windows.md

[2022-09-19 14:28] jkotas opened #4156 "Diagnostic support for NonGC heap"
[Jan had different text here before, but I rewrote it as the situation changed]

## Background

Although the Frozen Object Heap has existed in the runtime for a long time, it has never been used for any prominent scenario and it has had no investment to integrate well with diagnostic tools. Now that we want to use it automatically for string literals we can't continue to ignore it for diagnostics.

[2022-09-20 16:35] PeerConradi opened #3399 "dotnet-counters ObservableGauge of double incorrect values"
### Description

I tried to use the dotnet-counters to get some data while running inside the testhost (xUnit Test) that is testing a service inside my main project.
For some reason the counters seem to ignore the NumberStyle or culture. At least thats what I think is happening.
It could be helpful to know that my PC is set to **german** so the dot (.) and comma (,) are kind of switched
1.000,31 w

[2022-09-20 16:55] PeerConradi commented on #3399
Just to have some visuals:

This Measurement<double> inside the gauge
![image](https://user-images.githubusercontent.com/47257999/191318742-17ddf21a-f804-4644-bacb-af51a50738ef.png)

resulted in:

![image](https://user-images.githubusercontent.com/47257999/191317657-709c982b-dcf2-42b0-82dd-e705c6733590.png)

[2022-09-20 17:49] tommcdon commented on #3399
@dramos020 would you mind taking a look?

[2022-09-20 18:48] mikem8361 commented on #3065
[DbgHelp Versions - Win32 apps | Microsoft Learn](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Flearn.microsoft.com%2Fen-us%2Fwindows%2Fwin32%2Fdebug%2Fdbghelp-versions&data=05%7C01%7Cmikem%40microsoft.com%7C4a3e87314def4f2f520e08da9b373515%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637992958670881440%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWw

[2022-09-20 22:25] mikem8361 commented on #3392
This should be fixed in the next update from the diagnostics repo.

[2022-09-20 22:25] #3392 closed

[2022-09-21 10:39] czd890 opened #3401 "dotnet-dump collect process crash. Unable to read beyond the end of the stream."
The `dotnet-dump collect` always crash after the program running 15d+
+ The `dotnet-dump collect` crashes within few seconds. In the past 2 months. Dumped 4 times and failed.
+ The program can be successfully dumped after running for a few days.
+ The host has enough memory and disk. it doesn't seem to be the same as #2215.
  + dumped program memory has 800Mb
  + the host has free disk 40gb, free

[2022-09-21 12:33] allexizz commented on #3401
Got the same issue while running `dotnet-dump collect --type Heap` on the newly created .NET 6 app inside k8 pod.
Host has ~19gb free memory.

CLR version 6.0.822.36306
dotnet-dump version 6.0.328102

[2022-09-21 14:24] tommcdon commented on #3401
@mikem8361

[2022-09-21 15:16] jander-msft commented on #3392
I can confirm the mitigation works using our GC dump smoke tests.

[2022-09-22 17:21] mikem8361 commented on #3401
Can you turn on the logging by adding `--diag` to your `dotnet-dump collect` command line?  The diagnostic logging will be displayed on the console of your app instead of dotnet-dump's console.

[2022-09-22 19:35] allexizz commented on #3401
Not sure if that's what you asked for but those are the last logs I see before dotnet-dump crashes with --diag flag

[code]

[2022-09-22 20:00] mikem8361 commented on #3401
If that is the end of the logging then it looks like either createdump or the app itself somehow was terminated.  Probably not because of not enough disk space, but not enough memory in the pod.  createdump is forked/exec'ed by the runtime when dotnet-dump collect is run.

[2022-09-23 13:15] allexizz commented on #3401
Thanks @mikem8361! The issue indeed was not enough memory in the pod. Which is strange because dump size is ~800mb and I had to increase memory size from 1gb -> 4gb to create a dump file correctly

[2022-09-23 16:56] mikem8361 commented on #3401
You are probably hitting issue https://github.com/dotnet/runtime/issues/72148 "createdump may use too much memory" and issue https://github.com/dotnet/runtime/issues/71472 "dotnet-dump makes target process to double its used memory".  The former has a workaround in 7.0 (setting the COMPlus_EnableFastHeapDumps=1 environment variable).

[2022-09-23 18:37] dramos020 commented on #3381
The Win32Exception does get caught and it is getting written to the console. I believe the unhandled exception System.InvalidOperationException is occurring because we are trying to interact with the process even though it does not successfully run. Looking into fixing this

[2022-09-26 16:59] #2246 closed

[2022-09-26 21:47] dramos020 commented on #3399
You should be using an ObservableGauge if you are trying to measure the random values themselves. In your example you are using an ObservableCounter, which measures the rate of change. Can see more about the difference here:
[https://learn.microsoft.com/en-us/dotnet/core/diagnostics/metrics-instrumentation](url)

[2022-09-28 14:56] lambdageek opened #3422 "[dsrouter] Implement a WebSocket server"
In .NET 8, the .NET runtime may ship a variant of the WebAssembly runtime that supports diagnostic tracing (this is an optional opt-in because it requires threading support, which is opt-in).  Runtime tracking issue: https://github.com/dotnet/runtime/issues/69268

In order to support tracing in WebAssembly apps, the `dotnet-dsrouter` tool needs a new mode where it can create a WebSocket server tha

[2022-09-28 15:04] tommcdon commented on #875
Closing older issues.  If this is still a problem please comment and we will re-activate this issue.

[2022-09-28 15:04] #875 closed

[2022-09-28 16:41] michasHL opened #3423 "[dotnet-dump] collect permission issue fails collection with HRESULT: 0x00000000"
### Description

We're running our .NET services inside Azure Kubernetes Services. To help us with our performance testing we're installing a handful of dotnet tools (e.g. dotnet-dump) into our container using a step in our docker file.
After our nodes in our nodepools upgraded to a newer Linux kernel version 5.10.117.1-2.cm1 -> 5.10.134.1-2.cm1 we started to see the described issue below.

The fo

[2022-09-29 01:11] dramos020 commented on #3399
Since this seems to be solved from the comment above, I'm going to close this issue. If you are still having this issue, feel free to open a new issue.

[2022-09-29 01:11] #3399 closed

[2022-09-29 15:53] mikem8361 commented on #3423
@hoyosjs can you look at this?

[2022-09-29 20:01] hoyosjs commented on #3423
There's a thread going on about this. It's a mariner host issue looks like. Will post updates as I can.

[2022-09-30 02:29] hoyosjs commented on #165
For this, also we need to move the copying of source for CLI built tests (like singlefile) to a build phase artifact, such that deployment can be xcopy deployed.

[2022-09-30 09:19] davmason commented on #3313
It sounds like this is resolved, closing this issue. If there is outstanding work I missed please reopen it.

[2022-09-30 10:43] noahfalk commented on #3313
@davmason - I think most of the alternatives I suggested above are complex for profilers to implement, don't scale well, or both. I'm thinking we should have some issue (although it doesn't have to be this one) tracking a feature request for the runtime implementation of option (1) in the list above.

[2022-09-30 11:14] davmason commented on #3313
I see I didn't actually manage to close it, we can leave this issue open to track option 1

[2022-10-04 09:16] #3298 closed

[2022-10-05 18:41] #3381 closed

[2022-10-08 06:58] czd890 commented on #3401
Hi @mikem8361, i re-retry to dump my application with `--diag`, and it crashed.

Below are the last few lines of logs in my application console:
[code]

[2022-10-08 09:51] akovac35 opened #3445 "createdump fails with "[createdump] ERROR: ReadMemory(0x562aef77e040, 38) phdr FAILED""
### Description

I am seeing the following problem when trying to dump the memory using the dotnet-monitor tool:

`{"status":400,"detail":"Write dump failed - HRESULT: 0x00000000."}`

After investigating a bit, and running `./usr/share/dotnet/shared/Microsoft.NETCore.App/6.0.9/createdump -d -v -n 1`, I get:

[code]

May you please suggest what are the known requirements for the dump to work?

###